@import "vars_et_keyframes/_vars.scss";
@import "vars_et_keyframes/_keyframes";

//Les VARIABLES UTILISEES DANS NOTRE PAGE// 
/*
$color-primaire: #9356DC; //1ere couleur //
$color-secondaire: #ff79DA;//deuxieme couleur//
$color-tertiaire: #99E2D0;//troisieme couleur//
$fontfamily-body: 'roboto', century, 'sans-serif', Verdana;//police body roboto//
$backg-endroi-restaurant: rgb(230, 230, 230); //couleur fond restaurant//
$backg-search: rgba(225, 225, 225, 1); // backgr-color de search//
$backg-color-info: rgba(230, 230, 230, 0.6); //couleur backg fonctionnement//
$box-shad-info: 2px 5px 5px rgba(220, 220, 220, 1);//ombre li fonctionnement//
$border-info: 0.3em rgba(225, 225, 225, 0.2);// bordure li fonctionnment//
$padding-info: 10px 5px 10px 5px; //padding info de fonctionnement //
$margin-icon-info: 2px 10px 0px 20px; //margin icon tonctionnement//
$backg-info-hover: rgba(147, 86, 220, 0.25); //backg INFO au hover//
$padding-footer: 1em 0em 1em 0em;// padding du footer//
$backg-footer: rgba(53, 53, 53, 255); //Couleur pied de page//
$padding-btn: 0.8em 2em 0.8em 2em; // padding texte du bouton//
$shadow-bouton: 2px 3px 3px $color-tertiaire;// ombre des box boutons//
$shadow-txt: 2px 2px 2px rgb(45, 32, 77); //ombre de textes des boutons//
$couleur-backg-plat: rgba(255, 255, 255, 255); //couleur fond//
$box-shad-plat: 3px 3px 2px rgba(220, 220, 220, 50); //ombre bordure plat//
$backg-search-top: 5px solid rgba(220, 220, 220, 240); //Bordure dessus Paris Marseille//
$color-padding-bot-h2: 8px; // padding soulignement 4lettres de h2//
$color-underline-h2: 3px rgba(28, 156, 96, 0.877) solid; //soulign H2 color//
*/
/* Les mobiles */
@media screen and (max-width: 599px){
    body{        
        margin: 0px;
        padding: 0px;
        font-family: $fontfamily-body;      
    }
    .contain-page{
        min-width: 320px;
        margin: auto;  
        padding: 0px 0px 0px 0px;
        justify-content: center;
        box-sizing: border-box;
        background-color: #fff;

        /* Conteneur Entrée, Plat et dessert*/
        .restaurant {
            width: 100%;
            margin-top: -20px;
            background-color: $backg-endroi-restaurant;
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
            z-index: 66;
            .contient-sousmenu{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin: 0 auto;
            }
            .divbtn{
                margin-top: 2em;
                margin-bottom: 2.5em;
                .btn{
                    padding: $padding-btn;
                    font-size: 1em;
                    border-radius: 1.5em;
                }
            }
        }
        .sousmenu{
            width: 100%;
            h2{
                font-weight: normal;
                text-transform: uppercase;
                font-size: 1.2em;
                span{
                    display: inline;
                    padding-bottom: $color-padding-bot-h2; /* padding soulignement 4lettres de h2*/
                    border: $color-underline-h2; /*soulign 4lettres H2 color*/
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
            }
            .container{
                width: 98%;
                .plat{
                    width: 90%;
                    padding: 0.45em 1em;
                    background-color: $couleur-backg-plat;
                    box-shadow: $box-shad-plat;
                    .nom{
                        font-size: 1.1em;
                    }
                    h5{
                        font-size: 1.1em;
                    }
                    .prix{
                        margin-left: 20px;
                        margin-top: 25px;
                    }
                }
            }
        }
        .menu{
            margin-bottom: 10px;
            z-index: 0;
            img{
                width: 99%;
                margin-bottom: -5px;
                z-index: -20;
            }
        }

        /* Titre chaque restaurant en mobile */
        .titre{
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            position: relative;
            width: 98%;
            display: flex;
            padding-top: 1.1em;
            margin-bottom: 1em;
            margin-top: -1em;
            z-index: 99;
            &_left{
                margin: 0em 0em 0em 1em;
                padding: 0;
                font-family: 'shrikhand';
                font-size: 1.4em;
            }

            /* bouton en forme de coeur à droite du titre */
            .btn_white {
                right: 20px;
                position: absolute;                
            }     
        }    

        .footer, .fonction, .endroit, .main-menu, .titre, .sousmenu, .divbtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: 100%;
            h2{
                text-align: left;
                margin-left: 20px;
            }
        }

        /*Titre logo */
        .header{
            width: 90%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            img{
                display: flex;
                object-fit: cover;
                width: 200px;   
            }
        }

        /* Titre de la page d'accueil */
        .endroit{
            margin-bottom: 3em;
            margin-top: 0px;
            background-color: $backg-endroi-restaurant;
            .search{
                padding: 1em 0em;
                margin-bottom: 2em;
                border-top: $backg-search-top;
                background-color: $backg-search;
                &_icon span{
                    font-weight: bold;
                    font-size: 1em;
                }
                &_icon .fa-map-marker-alt{
                    font-size: 1.1em;
                }
            }
            h1{
                font-size: 1.7em;
                padding: 1em 1.7em;
                margin: 0em 1.1em 0em 1.1em;  
                letter-spacing: normal;              
            }
            p{
                letter-spacing: normal;
                padding: 5px 10px;
                margin: 0px 25px 0px 25px;
                font-size: 1.2em;
            }
            .divbtn{
                margin-top: 2.2em;
                margin-bottom: 2em;
                .btn{
                    padding: $padding-btn;
                    font-size: 1.1em;
                    border-radius: 2.2em;
                }
            }
        }

        .fonction{
            margin-top: 3em;
            h2{
                font-size: 1.5em;
                margin-left: 2em;
            }
            .container{           
                .info{
                    width: 90%;
                    margin: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: $padding-info;
                    display: flex;
                    border: $border-info;
                    background-color: $backg-color-info;       
                    box-shadow: $box-shad-info;             
                    .style-type{
                        margin-left: -20px;
                        position: relative;
                    }
                    
                    .icon-gray, .icon-indigo{
                        margin: $margin-icon-info;
                        color: gray;
                        font-size: 1.2em;
                    }
                    .filter-option__label{
                        margin-left: 1em;
                        font-size: 1em;
                        font-weight: bold;
                        padding: 15px 0px;
                        font-family: $fontfamily-body;                      
                    }
                }
                .info:hover{
                    background-color: $backg-info-hover;                
                    .fas{
                        color: rgba(147, 86, 220, 255);
                    }
                }
            }
        }

        /* menu des restaurants page Accueil */
        .main-menu{
            justify-content: center;
            display: inline-flex;
            background-color: $backg-endroi-restaurant;
            margin: 3em 0em 0em 0em;
            padding-bottom: 3.5em;
            h2{
                padding-top: 1em;
                margin-bottom: 0.6em;
            }
            .container{
                width: 95%;
                margin: auto;
                justify-content: center;
                display: flex;
                justify-content: center;
                .restau{
                    display: block;
                    flex-direction: column;                  
                    margin: auto;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    justify-content: center;
                    width: 95%;                
                    border-radius: 20px;
                    position: relative;
                    .nouveau{
                        position: absolute;
                        display: inline;
                        right: 20px;
                        top: 25px;
                        color: darken($color-tertiaire, 30%);
                        background-color: darken($color-tertiaire, 0.5);
                        padding: 6px 10px;
                        border-radius: 3px;
                        font-weight: bold;                
                    }
                    .image_menu{
                        img{
                            width: 100%;
                            height: 170px;
                            object-fit: cover;                    
                            margin: auto;
                            display: flex;
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;       
                        }
                    }
                    .restau_titre{
                        .g-title{
                            padding: 0.8em 0em;   

                            h3{
                                font-family: $fontfamily-body;
                            }                         
                        }
                        .btn_white{
                            display: flex;
                            align-self: center;
                            justify-content: center;
                        }
                    }                            
                }
            }
        }


        /* Pied de page en mobile */
        .footer{
            width: 100%;
            padding: $padding-footer;
            margin: 0em 0em 0em 0em;
            background-color: $backg-footer;
            h2{
                font-family: 'shrikhand';
                font-size: 1.1em;
                margin-left: 24px;
            }
            .container{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                li{
                    margin-bottom: 10px;
                    margin-left: -15px;
                    a{
                        font-size: 1.1em;
                    }
                    .fas{
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
}


/*  Milieu de 600px à 1024px */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        margin: 0px;
        justify-content: center;
        font-family: $fontfamily-body;  
    }
    .contain-page{
        display: inline-block;
        height: auto;
        margin: auto;
        margin-bottom: 0px;
        justify-content: center;  
        box-sizing: border-box;
        max-width: 1024px;

        /* Zone en-tete d'accueil */
        .endroit{
            margin-bottom: 2em;
            margin-top: 0px;
            flex-direction: column;
            background-color: $backg-endroi-restaurant;
            .search{
                border-top: $backg-search-top;
                background-color: $backg-search;
                padding: 1em 0em;
                margin-bottom: 2em;  
            }
            h1{
                text-align: center;
                letter-spacing: 0.2em;
                margin: 1em 0em 0.5em 0em;
                font-size: 1.8em;           
            }
            p{
                font-size: 1.2em;
                letter-spacing: 0.1em;
            }
            .divbtn{
                .btn {
                    padding: $padding-btn;
                    margin-bottom: 2em;
                }
            }
        }

        /*Fonctionnement Accueil */
        .fonction{
            h2{
                text-align: center;
                font-size: 1.5em;
            }
            .container{           
                .info{
                    width: 300px;
                    margin: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: $padding-info;
                    background-color: $backg-color-info;
                    border: $border-info;
                    display: flex;
                    box-shadow: $box-shad-info;
                    .style-type{
                        margin-left: -15px;
                    }
                    
                    .icon-gray, .icon-indigo{
                        margin: $margin-icon-info;
                        color: gray;
                        font-size: 1.2em;
                    }
                    .filter-option__label{
                        margin-left: 1em;
                        font-size: 1em;
                        font-weight: bold;
                        padding: 13px 0px;
                        font-family: $fontfamily-body;                      
                    }
                }
                .info:hover{
                    background-color: $backg-info-hover;
                    .fas{
                        color: rgba(147, 86, 220, 255);
                    }
                }
            }
        }

        /* Les menus en page d'accueil */
        .main-menu{
            background-color: $backg-endroi-restaurant;
            margin-bottom: 0px;
            h2{
                text-align: center;
            }
            .container{
                .restau {
                    width: 40%;
                    margin-left: 2%;
                    margin-right: 2%;
                    position: relative;
                    .nouveau{
                        position: absolute;
                        right: 20px;
                        top: 35px;
                        color: darken($color-tertiaire, 30%);
                        background-color: darken($color-tertiaire, 0.5);
                        padding: 6px 10px;
                        border-radius: 3px;
                        font-weight: bold;                     
                    }
                    .restau_titre{
                        .g-title{
                            padding: 0.8em 0em;   

                            h3{
                                font-family: $fontfamily-body;
                            }                         
                        }
                        .btn_white{                        
                            display: flex;                            
                            justify-content: flex-end;
                            align-items: center;
                            padding: 0px 0px;
                        }
                    }                            
                }
            }
        }

        /* Pied de page*/
        .footer{
            margin-bottom: 0px;
            background-color: $backg-footer;
            h2{
                font-size: 1.6em;
                font-family: 'shrikhand';
            }
            .container{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li{
                    list-style-type: none;            
                }
                li a{
                    color: #fff;
                    display: inline-block;
                    text-decoration: none;
                    font-size: 1.1em;
                }
                li a:hover{     
                    text-decoration: underline;
                }
                .fas{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                    margin-right: 10px;
                    color: #fff;
                }
            }
        }

        /* Titre de chaque restaurant */
        .titre{
            h1{
                font-size: 2em;
                font-family: 'shrikhand';
                margin: 0px 0px 0px 20px;
            }
            .btn_white{
                align-items: center;
                height: 1.1em;
                padding: 0px;
                .titre_like{
                    margin: 0px;
                }
            }
        }

        /* contenaire du bouton Commander*/
        .restaurant{
            background-color: $backg-endroi-restaurant;
            margin: 0 auto;
            .contient-sousmenu{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin: 0 auto;
            }
            .divbtn{
                margin-top: 2em;
                margin-bottom: 2.5em;
                .btn{
                    padding: $padding-btn;
                    font-size: 1em;
                    border-radius: 1.5em;
                }
            }
        }
    

        .sousmenu{
            width: 45%;
            margin: 0 auto;
            display: flex;
            align-self: start;  
            margin-bottom: 20px;
            animation: Apparition 1.2s both ease-in-out;
            h2{
                text-align: center;
                text-transform: uppercase;
                span{                    
                    display: inline;
                    padding-bottom: $color-padding-bot-h2; /* padding soulignement 4lettres de h2*/
                    border: $color-underline-h2; /*soulign H2 color*/
                    border-top: none;
                    border-left: none;
                    border-right: none;                    
                }
            }
            .plat{
                box-shadow: $box-shad-plat;
                &_left h5{
                    font-size: 1.3em; 
                    padding: 0.5em 0em;     
                }
                &_left p{
                    font-size: 1.1em;
                    padding: 0.5em 0em;
                }
                .prix{
                    font-size: 1.3em;
                    margin-top: 1.3em;
                }
            }
        }
    }
} 

body{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 255);
    font-family: $fontfamily-body;
}

.contain-page{
    display: block;
    height: auto;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0px;
    top: 5px; 
    box-sizing: border-box;
    
    .restaurant{
        width: 100%;
        background-color: $backg-endroi-restaurant;
        margin-bottom: 0px;   
        margin-top: -28px;
        padding-bottom: 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        .contient-sousmenu{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0 auto;
        }  
    }
}

/* Le loader spinner*/
#wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: blue;
    opacity: 1;
    h4{
        margin: auto;
        text-align: center;
        font: 2em verdana bold;
        animation: 3.5s bounce ease-in-out both;
    }
    .loading-spinner{
        width: 10rem;
        height: 10rem;
        display: inline-block;
        border: 5px solid rgba(51, 40, 212, 0.692);
        border-radius: 50%;
        margin-bottom: 10rem;
        margin: auto;
        justify-content: center;
        border-top-color: #Af00;
        animation: 2.5s spin ease-in-out both;
    }
    /* keyframes du Loading-spinner */
    /*
    @keyframes spin {
        5% {
            opacity: 1;
        }
        25% {
            transform: rotate(2turn);
        }
        
        90% {
            transform: rotate(3turn);
            opacity: 0;
        }
        100% {
            transform: rotate(0turn);
            opacity: 0;
            display: none;
        }
    }
    */
    /*.spinner-end */
    .loading-dots > .dot1{
        width: 3rem;
        height: 3rem;
        background-color: rgb(148, 238, 130);
        border-radius: 50%;
        display: inline-block;
        animation: 4.5s bounce ease-in-out both;
    }
    /*
    @keyframes bounce {
        0%{
            transform: scale(0);
        }
        25%{
            transform: scale(1);
        }
        50%{
            transform: scale(2);
        }
        70%{
            transform: scale(2);
            color: $color-primaire;
            text-shadow: $shadow-txt;
        } 
        80%{
            transform: scale(1.5);
            text-shadow: $shadow-txt; 
            color: $color-secondaire;           
        } 
        95%{
            transform: scale(1);
            text-shadow: $shadow-txt; 
            color: $color-tertiaire; 

        }    
        100%{
            transform: scale(0);
            display: none;
        }
    }
    */
}


.contain-page {
    z-index: 9999;
    opacity: 1;
    animation: affichagepage 4s 1s both;
}

/* keyframes qui fait apparaitre la page d'accueil après le loading-spinner*/
/*
@keyframes affichagepage {
    0% {
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50% {
        opacity: 0.8;
    }
    75%{
        opacity: 0.9;
    }    
    100% {
        opacity: 1;
    }
} 
*/
.header, .endroit, .titre, .fonction, .main-menu, .footer, .menu, .sousmenu, .divbtn {
    width: 100%;
    margin: 10px 0px 10px 0px;
}
h2{
    text-align: center;  
    font-size: 1.7em;  
}

.fonction, .main-menu, .sousmenu, .footer, .endroit{
    display: flex;
}

/* Titre chaque restaurant en desktop */
.titre{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    display: flex;
    padding-top: 15px;
    margin-bottom: 2em;
    &_left{
        width: 90%;
        margin: 0.5em 0em 0.5em 1.5em;
        padding: 0;
        font-size: 1.7em;
        font-family: 'shrikhand';

    }

    /* bouton en forme de coeur à droite du titre Desktop */
    .btn_white {
        background-color: transparent;
        border: none;
        padding: 1px 1px 1.2px 1px;
        font-size: 1.7em;
        display:flex;
        align-items:center;
        justify-content:center;
        position: relative; 
        cursor: pointer; 
        height: 1.2em;
        margin-top: 10px;
        .fas{
            display: none;
        }
    }
    .btn_white:hover{
        border: transparent;             
        .fas{
            display: flex;
            background: -webkit-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
            background: -moz-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
            background: -o-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
            background: linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
            -webkit-background-clip: text;  /* transform icon en text*/
            -webkit-text-fill-color: transparent;/* transform icon en transparent*/
            animation: 600ms remplissage-heart ease-in-out both;
        }
        .far{
            display: none; /* far fa-heart caché*/
        }
    }
    .btn_white:active{
       .fas{
           display: flex;
           background: -webkit-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
           background: -moz-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
           background: -o-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
           background: linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
           -webkit-background-clip: text;  /* transform icon en text*/
           -webkit-text-fill-color: transparent;/* transform icon en transparent*/
           animation: 600ms remplissage-heart ease-in-out both;
       } 
       .far{
           display: none;
       }
    } 
}    

/* Menu chaque restaurant et son titre */
.main-menu{
    flex-direction: column;
    background-color: $backg-endroi-restaurant;
    margin-bottom: 0em;
    padding-bottom: 1.5em;
    h2{
        text-align: center;
        font-size: 1.7em;
        margin-bottom: 1em;
    }    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .restau {
            position: relative;
            width: 40%;
            justify-content: space-between;
            margin-right: 5%;
            margin-bottom: 20px;
            border-radius: 10px;
            padding-top: 0px;
            .nouveau{
                display: inline;
                position: absolute;
                right: 20px;
                top: 12%;
                font-weight: bold;
                padding: 6px 10px;
                border-radius: 3px;        
                color: darken($color-tertiaire, 30%);
                background-color: darken($color-tertiaire, 0.5); 
                font-weight: bold;
            }      
            .image_menu{
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;                    
                    margin: auto;
                    display: flex;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;       
                }
            }
            .restau_titre h3{
                font-family: 'shrikhand';
            }
            .restau_titre p {
                font-family: verdana;
            }
        }
    }
    .restau_titre{
        display: flex;
        width: 100%;
        padding-bottom: 5px;
        border-bottom-right-radius: 21px;
        border-bottom-left-radius: 21px;
        background-color: $couleur-backg-plat;
        .g-title{
            width: 80%;            
            margin-left: 20px;
            border: none;            
            p, h3{
                margin: auto;
                padding: 2px 0px;
            }
        }
        .btn_white {
            height: 100%;
            border: transparent 0px solid;
            padding: 0;
            display: flex;
            align-self: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            background-color: transparent;
            margin-right: 0em;
            .fas{
                display: none; 
            }
            .far{
                display: flex;
                font-size: 1.6em;
            }
        }
        .btn_white:hover{
            border: transparent;             
            .fas{
                display: flex;
                font-size: 1.6em;
                background: -webkit-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
                background: -moz-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
                background: -o-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
                background: linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transform: scaleY(0);
                transform-origin: bottom;
                animation-fill-mode: backwards;
                animation: 600ms remplissage-heart ease-in-out both;
            }
            .far{
                display: none;
            }
        }        
    }
}

/* remplissage du background de heart */
/*
@keyframes remplissage-heart {
    0% {
        transform: scaleY(0);     
    }    
    100% {
        transform: scaleY(1);
    }
}
*/
/* photo menu sur chaque restaurant */
.menu{
    display: flex;
    margin: auto;
    margin-bottom: 0px; 
    img{
        display: block;
        height: 180px;
        object-fit: cover;
        width: 99%;
        margin: 0 auto;        
    }
}

/* En-tete avec fleche pour aller sur page d'accueil*/
.header{
    padding: 0px;
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: center;
    a{
        text-decoration: none;
    }
    .fa-arrow-left{
        position: relative;
        display: flex;
        height: 40px;
        font-size: 2em;
        color: #000;
        align-items: center;       
        width: 40px;               
    }
    img{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 3px 2px;
        width: 210px;
        object-fit: cover;
    }
}

/* Zone contenant titre en page d'accueil*/
.endroit{
    flex-direction: column;
    margin-bottom: 2em;
    margin-top: 0px;    
    margin: 0 auto;
    background-color: $backg-endroi-restaurant;
    h1 {
        text-align: center;
        margin: 1em 0em 0.5em 0em;
        font-size: 2.5em;       
    }
    p {
        text-align: center;
        font-size: 1.5em;
    }    
    .search{
        padding: 1.1em 0em;
        text-align: center;
        margin-top: 0px;
        border-top: $backg-search-top;
        background-color: $backg-search;
        &_icon{
            .fa-map-marker-alt{
                margin-right: 1.1em;
                font-size: 1.4em;
            }
            .visually-hidden{
                font-size: 1.4em;                
            }
        }
    }
    .divbtn{
        margin-bottom: 2em;
    }   
}
/* bouton EXPLORER NOS RESTAURANTS  en desktop */
.divbtn{
    width: 100%;
    height: 3em;
    display: flex;
    margin-bottom: 20px;
    .btn {
        margin: auto;
        border: 0px;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        position: relative;
        color: #fff;
        border-radius: 20px;        
        line-height: 1.3em;
        font-size: 1em;
        margin-bottom: 2.5em;
        padding: $padding-btn;
        background: -webkit-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
        background: -moz-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
        background: -o-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
        background: linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);   
    }
    .btn:hover {
        opacity: 0.7;      
        box-shadow: $shadow-bouton;
        text-shadow: $shadow-txt;
    }
}

/*Explication fonctionnement en page d'accueil*/ 
.fonction{
    height: auto; 
    margin-bottom: 15px; 
    flex-direction: column;
    h2{
        text-align: center;
        font-size: 1.6em;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;      
        .info{
            display: flex;
            align-items: center;
            margin-right: 5%;
            border-radius: 20px;
            padding: $padding-info;       
            margin-bottom: 10px;           
            list-style-type: none;
            width: 300px;
            margin: auto;
            margin-top: 10px;
            border: $border-info;
            background-color: $backg-color-info;                    
            box-shadow: $box-shad-info;
            
            .filter-option__label{                
                margin-left: 1em;
                font-size: 1em;
                font-weight: bold;
                padding: 15px 0px;
                font-family: $fontfamily-body;
            }
            .style-type{
                display: flex;
                justify-content: center;
                align-items: center;              
                width: 25px;
                height: 25px; 
                position: relative;                  
                color: white;
                margin-left: -15px;
                font-size: 0.8em;
                font-weight: bold;
                padding: 1px 1px 0px 1px;                                       
                background-color: rgba(147, 86, 220, 255);
                border-radius: 50%;
            }
            .icon-gray, .icon-indigo{
                margin: $margin-icon-info;
                color: gray;
                font-size: 1.2em;
            }        
        }
        .info:hover{
            background-color: $backg-info-hover;
            .fas{
                color: rgba(147, 86, 220, 255);
            }
        }      
    }
}


/* Entrée, Plat et Dessert */
.sousmenu{
    width: 32%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-self: start;  
    margin-bottom: 20px;
    animation: Apparition 2s both ease-in;/*apparition Entrée, plat, dessert*/
    h2{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
        span{
            display: inline;
            padding-bottom: $color-padding-bot-h2; /* padding soulignement 4lettres de h2*/
            border: $color-underline-h2; /*soulign H2 color*/
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }
    .container{
        width: 99%;
        margin: auto;
        .plat{
            margin: auto;
            margin-bottom: 15px;
        }        
    }
}

/*  Apparition sousmenu en groupe */
/*
@keyframes Apparition {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
*/
/* Temps d'attente avant l'arrivée du proupe: Entrée, Plat, Dessert */
/*.sousmenu:nth-child(1){
    animation-delay: 0.3s;
}
.sousmenu:nth-child(2){
    animation-delay: 0.8s;
}
.sousmenu:nth-child(3){
    animation-delay: 1.3s;
}

*/
/* Mise en page pour chaque plat*/
.plat{
    border: 0px solid transparent;
    display: flex;       
    border-radius: 1.5em;
    cursor: pointer;                     
    line-height: 0.5em;
    margin-bottom: 1.5em;
    color: #000;
    padding: 0.5em 1em 0.5em 1em;
    background-color: $couleur-backg-plat;
    box-shadow: $box-shad-plat;
    transition: all 900ms ease;
    .prix {    
        display: flex;
        align-items: flex-end;
        font-size: 1.1em;
        font-weight: bold;
        height: auto;
        margin-top: 1.4em;
        padding: 1em 0em 0em 1em;
        margin-right: -1.4em;
    }
    &_left{
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        white-space: nowrap;
        .nom{
            font-size: 1.1em;
            padding: 0.5em 0em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            align-items: flex-start;
            justify-content: flex-start;
            color: #000;
            margin-bottom: 0em;
            margin-top: 0.5em;
        }
        h5{
            font-size: 1.1em;
            padding: 0.5em 0em;
            margin-bottom: 0em;
            margin-top: 0em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }    
    }

    &_right{      
        display: flex;  
        margin: 0px 15px 0px 20px;  
        .check{
            display: none;
            align-items: center;
            height: auto; 
            margin: 0em;
            width: 5em;
            margin: -0.5em -2em -0.5em 0em;         
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: $color-tertiaire;            
            .fa-check{          
                background-color: white;                   
                width: 20px;
                height: 20px;
                padding: 1px 1px 0px 1px;
                border-radius: 50%;
                font-size: 0.7em;
                align-items: center; 
                justify-content: center;
                margin: 0em -1.6em 0em 2.5em;               
                display: flex;                
                position: relative;                                                   
            }
        }
    }    
}

/*  Apparition sousmenu en groupe */
/*
@keyframes check-anim {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
*/

.plat:hover{
    opacity: 0.8;
    position: relative;
    margin: auto;
    .prix{
        margin-right: 1.1em;
        margin-left: 1em;
        animation: check-anim 200ms ease; //Animation du prix //
    }
    .check{
        display: flex;
        animation: check-anim 250ms ease-in both; //Animation de check //
        .fa-check{
            color: $color-tertiaire;
            animation: 400ms petitecoche ease-in-out both;
        }
    }
}

/* Animation de l'icone .fa-check de validation de menu */
/*
@keyframes petitecoche {
    0%{
        transform: rotate(0turn);
    }     
    100% {
        transform: rotate(1turn);
        opacity: 1;
    }
}

*/
/* pied de page en desktop */
.footer{
    flex-direction: column;
    background-color: $backg-footer;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: $padding-footer;
    h2{
        margin: auto;
        font-size: 1.6em;
        color: #fff;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li{
            list-style-type: none;           
        }
        li a{
            color: #fff;
            display: inline-block;
            text-decoration: none;
            font-size: 1.1em;
        }

        li a:hover{     
            text-decoration: underline;
        }
        .fas{
            margin-right: 10px;
            color: #fff;
        }       
    }
}

/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
    body {
      flex-direction: row;
      background-color: #fff;
    }
}
  
  /* orientation portrait sur mobile */
@media (orientation: portrait) {
    body {
      flex-direction: column;
      background-color: #fff;
    }
}