@charset "UTF-8";
/* Les mobiles */
@media screen and (max-width: 599px) {
  body {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', century, 'sans-serif', Verdana;
  }
  .contain-page {
    min-width: 320px;
    height: 400px;
    margin: auto;
    padding: 0px 0px 5px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* Conteneur Entrée, Plat et dessert*/
    /* Titre chaque restaurant en mobile */
    /*Titre logo */
    /* Titre de la page d'accueil */
    /* menu des restaurants page Accueil */
    /* Pied de page en mobile */
  }
  .contain-page .restaurant {
    width: 100%;
    margin-top: -8px;
    background-color: #f6f6f6;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 66;
  }
  .contain-page .sousmenu {
    width: 100%;
  }
  .contain-page .sousmenu h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .contain-page .sousmenu .container {
    width: 98%;
  }
  .contain-page .sousmenu .container .plat {
    width: 90%;
    padding: 0.45em 1em;
  }
  .contain-page .sousmenu .container .plat .nom {
    font-size: 1.1em;
  }
  .contain-page .sousmenu .container .plat h5 {
    font-size: 1.1em;
  }
  .contain-page .sousmenu .container .plat .prix {
    margin-right: -20px;
    margin-top: 15px;
  }
  .contain-page .menu {
    margin-bottom: -5px;
    z-index: 0;
  }
  .contain-page .menu img {
    width: 99%;
    margin-bottom: -5px;
    z-index: 1;
  }
  .contain-page .titre {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    margin-bottom: 1em;
    z-index: 99;
    background-color: #f6f6f6;
    /* bouton en forme de coeur à droite du titre */
  }
  .contain-page .titre_left {
    margin: 0em 0em 0em 1em;
    padding: 0;
    font: 1.4em 'shrikhand';
  }
  .contain-page .titre .btn_white {
    right: 20px;
    position: absolute;
  }
  .contain-page .footer, .contain-page .fonction, .contain-page .endroit, .contain-page .main-menu, .contain-page .titre, .contain-page .sousmenu, .contain-page .divbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 100%;
  }
  .contain-page .footer h2, .contain-page .fonction h2, .contain-page .endroit h2, .contain-page .main-menu h2, .contain-page .titre h2, .contain-page .sousmenu h2, .contain-page .divbtn h2 {
    text-align: left;
    margin-left: 20px;
  }
  .contain-page .header {
    padding: 0px;
    width: 90%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contain-page .header img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px 15px 0px;
    width: 45%;
    height: 30px;
  }
  .contain-page .endroit {
    margin-bottom: 3em;
  }
  .contain-page .endroit .search {
    padding: 1em 0em;
    font-size: 0.81em;
    margin-bottom: 2em;
  }
  .contain-page .endroit h1 {
    font-size: 1.5em;
    padding: 1em 3em;
    margin: 0px 35px 0px 35px;
    letter-spacing: normal;
  }
  .contain-page .endroit p {
    letter-spacing: normal;
    padding: 5px 20px;
    margin: 0px 30px 0px 30px;
    font-size: 1.2em;
  }
  .contain-page .endroit .divbtn {
    margin-top: 2.2em;
    margin-bottom: 2em;
  }
  .contain-page .endroit .divbtn .btn {
    padding: 1em 1.1em;
    font-size: 1.1em;
    border-radius: 2.2em;
  }
  .contain-page .fonction {
    margin-top: 3em;
  }
  .contain-page .fonction .container .info {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.02em solid transparent;
    background-color: rgba(230, 230, 230, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0.2px 1px 2px rgba(220, 220, 220, 0.71);
            box-shadow: 0.2px 1px 2px rgba(220, 220, 220, 0.71);
  }
  .contain-page .fonction .container .info .filter-option__label {
    font-size: 1em;
    font-weight: bold;
    font-family: 'roboto', century, 'sans-serif', Verdana;
    letter-spacing: 0.2em;
  }
  .contain-page .fonction .container .info:hover {
    background-color: rgba(230, 230, 230, 0.65);
    -webkit-box-shadow: 0.2px 2px 2px rgba(220, 220, 220, 0.8);
            box-shadow: 0.2px 2px 2px rgba(220, 220, 220, 0.8);
  }
  .contain-page .main-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 3em 0em 2em 0em;
  }
  .contain-page .main-menu h2 {
    padding-top: 1em;
    margin-bottom: 0.6em;
  }
  .contain-page .main-menu .container {
    width: 95%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
  }
  .contain-page .main-menu .container .restau {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
    border-radius: 20px;
    position: relative;
  }
  .contain-page .main-menu .container .restau .nouveau {
    position: absolute;
    left: 70%;
    top: 35px;
    color: #32b091;
    background-color: #97e1cf;
    padding: 5px 7px;
    border-radius: 3px;
    font-size: 0.8em;
  }
  .contain-page .main-menu .container .restau .image_menu img {
    width: 100%;
    height: 170px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .contain-page .main-menu .container .restau .restau_titre .g-title {
    padding: 0.8em 0em;
  }
  .contain-page .main-menu .container .restau .restau_titre .g-title h3 {
    font-family: 'roboto', century, 'sans-serif', Verdana;
  }
  .contain-page .main-menu .container .restau .restau_titre .btn_white {
    margin-top: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contain-page .footer {
    width: 100%;
    padding: 1em 0em 0em 0em;
    margin: 2em 0em 0.2em 0em;
  }
  .contain-page .footer h2 {
    font-family: 'shrikhand';
    font-size: 1.2em;
    letter-spacing: 0.6px;
    margin-left: 20px;
  }
  .contain-page .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contain-page .footer .container li {
    margin-bottom: 10px;
    margin-left: -15px;
  }
  .contain-page .footer .container li a {
    font-size: 1.1em;
  }
  .contain-page .footer .container li .fas {
    font-size: 0.8em;
  }
}

/*  Milieu de 600px à 1024px */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contain-page {
    display: inline-block;
    height: auto;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1024px;
    /* Zone en-tete d'accueil */
    /* couleur background */
    /*Fonctionnement Accueil */
    /* Les menus en page d'accueil */
    /* Pied de page*/
    /* Titre de chaque restaurant */
    /* contenaire du bouton Commander*/
  }
  .contain-page .endroit {
    margin-bottom: 2em;
  }
  .contain-page .endroit h1 {
    letter-spacing: 6px;
  }
  .contain-page .endroit p {
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  .contain-page .endroit .btn {
    background-color: rgba(151, 144, 144, 0.631);
  }
  .contain-page .endroit .btn span {
    font-weight: normal;
  }
  .contain-page .fonction h2 {
    text-align: center;
  }
  .contain-page .main-menu h2 {
    text-align: center;
  }
  .contain-page .main-menu .container .restau {
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .contain-page .main-menu .container .restau .nouveau {
    left: 70%;
  }
  .contain-page .footer {
    margin-bottom: 1em;
  }
  .contain-page .footer h2 {
    font-family: 'shrikhand';
  }
  .contain-page .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contain-page .footer .container li {
    list-style-type: none;
  }
  .contain-page .footer .container li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
  }
  .contain-page .footer .container .fas {
    margin-right: 10px;
    color: #fff;
  }
  .contain-page .titre h1 {
    font-size: 2em;
    font-family: 'shrikhand';
    margin: 0px 0px 0px 20px;
  }
  .contain-page .divbtn {
    margin-bottom: 2em;
  }
  .contain-page .sousmenu h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .contain-page .sousmenu .plat_left h5 {
    font-size: 1.3em;
    padding: 0.5em 0em;
  }
  .contain-page .sousmenu .plat_left p {
    font-size: 1.1em;
    padding: 0.5em 0em;
  }
  .contain-page .sousmenu .plat .prix {
    font-size: 1.3em;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Les variables de notre page */
/* ombre des box boutons*/
/* ombre de textes*/
/* couleur background */
/* couleur fond*/
/* backgr-color de search*/
/* couleur padding top search*/
.contain-page {
  display: block;
  max-width: 1280px;
  height: auto;
  margin: auto;
  background-color: #f6f6f6;
  top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contain-page .restaurant {
  width: 100%;
  background-color: #f6f6f6;
}

/* Le loader spinner*/
#wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: blue;
  opacity: 1;
  /* keyframes du Loading-spinner */
  /*.spinner-end */
}

#wrapper h4 {
  margin: auto;
  text-align: center;
  font: 2em verdana bold;
  -webkit-animation: 3.5s bounce ease-in-out both;
          animation: 3.5s bounce ease-in-out both;
}

#wrapper .loading-spinner {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  border: 5px solid rgba(51, 40, 212, 0.692);
  border-radius: 50%;
  margin-bottom: 10rem;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-color: #Af00;
  -webkit-animation: 2.5s spin ease-in-out both;
          animation: 2.5s spin ease-in-out both;
}

@-webkit-keyframes spin {
  5% {
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
  90% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    opacity: 0;
    display: none;
  }
}

@keyframes spin {
  5% {
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
  90% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    opacity: 0;
    display: none;
  }
}

#wrapper .loading-dots > .dot1 {
  width: 3rem;
  height: 3rem;
  background-color: #94ee82;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: 4.5s bounce ease-in-out both;
          animation: 4.5s bounce ease-in-out both;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  70% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: #9356DC;
    text-shadow: 2px 2px 2px #2d204d;
  }
  80% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    text-shadow: 2px 2px 2px #2d204d;
    color: #ff79DA;
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: 2px 2px 2px #2d204d;
    color: #99E2D0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  70% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: #9356DC;
    text-shadow: 2px 2px 2px #2d204d;
  }
  80% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    text-shadow: 2px 2px 2px #2d204d;
    color: #ff79DA;
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: 2px 2px 2px #2d204d;
    color: #99E2D0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

.contain-page {
  z-index: 9999;
  opacity: 1;
  -webkit-animation: affichagepage 5s 1s both;
          animation: affichagepage 5s 1s both;
}

/* keyframes qui fait apparaitre la page d'accueil après le loading-spinner*/
@-webkit-keyframes affichagepage {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes affichagepage {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.header, .endroit, .titre, .fonction, .main-menu, .footer, .menu, .sousmenu, .divbtn {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

h2 {
  text-align: center;
}

h2 span {
  display: inline;
  padding-bottom: 8px;
  border: 3px rgba(28, 156, 96, 0.877) solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Titre chaque restaurant en desktop */
.titre {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 2em;
  /* bouton en forme de coeur à droite du titre Desktop */
}

.titre_left {
  width: 80%;
  margin: 0em 0em 0em 1.5em;
  padding: 0;
  font-size: 1.5em;
  font-family: 'shrikhand';
}

.titre .btn_white {
  height: 1.2em;
  width: 1.2em;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.titre .btn_white .fas {
  display: none;
}

.titre .btn_white .menu_like {
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
}

.titre .btn_white:hover {
  border: transparent;
}

.titre .btn_white:hover .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 100%);
  -webkit-background-clip: text;
  /* transform icon en text*/
  -webkit-text-fill-color: transparent;
  /* transform icon en transparent*/
  -webkit-animation: 800ms remplissage-heart ease-in-out both;
          animation: 800ms remplissage-heart ease-in-out both;
}

.titre .btn_white:hover .far {
  display: none;
  /* far fa-heart caché*/
}

.titre .btn_white:active .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 100%);
  -webkit-background-clip: text;
  /* transform icon en text*/
  -webkit-text-fill-color: transparent;
  /* transform icon en transparent*/
  -webkit-animation: 800ms remplissage-heart ease-in-out both;
          animation: 800ms remplissage-heart ease-in-out both;
}

.titre .btn_white:active .far {
  display: none;
}

/* Menu chaque restaurant et son titre */
.main-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-menu h2 {
  margin: 0;
  margin-left: 10%;
}

.main-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu .container .restau {
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 0px;
}

.main-menu .container .restau .nouveau {
  display: inline;
  position: relative;
  left: 80%;
  top: 20%;
  font-weight: bold;
  background-color: #99e2d0;
  color: #063a0a;
  padding: 2px 5px;
  border-radius: 3px;
}

.main-menu .container .restau .image_menu img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.main-menu .container .restau .restau_titre h3 {
  font-family: 'shrikhand';
}

.main-menu .container .restau .restau_titre p {
  font-family: verdana;
}

.main-menu .restau_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  background-color: white;
}

.main-menu .restau_titre .g-title {
  width: 80%;
  margin-left: 20px;
  border: none;
}

.main-menu .restau_titre .g-title p, .main-menu .restau_titre .g-title h3 {
  margin: auto;
  padding: 2px 0px;
}

.main-menu .restau_titre .btn_white {
  top: 5px;
  height: 2em;
  width: 2em;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  margin-left: 1em;
}

.main-menu .restau_titre .btn_white .fas {
  display: none;
}

.main-menu .restau_titre .btn_white .far {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6em;
}

.main-menu .restau_titre .btn_white:hover {
  top: 5px;
  border: transparent;
}

.main-menu .restau_titre .btn_white:hover .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation: 800ms remplissage-heart ease-in-out both;
          animation: 800ms remplissage-heart ease-in-out both;
}

.main-menu .restau_titre .btn_white:hover .far {
  display: none;
}

/* remplissage du background de heart */
@-webkit-keyframes remplissage-heart {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    opacity: .21;
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: .5;
  }
  75% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
    opacity: .751;
  }
  90% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
    opacity: .91;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes remplissage-heart {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scaleY(0.2);
            transform: scaleY(0.2);
    opacity: .21;
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: .5;
  }
  75% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
    opacity: .751;
  }
  90% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
    opacity: .91;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

/* photo menu sur chaque restaurant */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.menu img {
  display: block;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 98%;
  margin: auto;
}

/* En-tete avec fleche pour aller sur page d'accueil*/
.header {
  padding-top: 10px;
  width: 90%;
  margin: auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header a {
  text-decoration: none;
}

.header .fa-arrow-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  font-size: 2em;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}

.header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px 5px 0px;
  margin-bottom: 5px;
  width: 40%;
  height: 45px;
}

/* Zone contenant titre en page d'accueil*/
.endroit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
  background-color: #f6f6f6;
}

.endroit h1 {
  text-align: center;
  letter-spacing: 0.4em;
  margin-bottom: 0px;
  font-size: 2em;
}

.endroit p {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 1.3em;
}

.endroit .search {
  padding: 5px 0px;
  text-align: center;
  border-top: 3px solid #dddddd;
  background-color: #eaeaea;
}

.endroit .search_icon .fa-map-marker-alt {
  margin-right: 15px;
  font-size: 1.4em;
}

.endroit .search_icon .visually-hidden {
  font-size: 1.4em;
}

.fonction, .main-menu, .sousmenu, .footer, .endroit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Explication fonctionnement en page d'accueil*/
.fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonction h2 {
  margin: 0;
  margin-left: 30px;
}

.fonction .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonction .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  opacity: 0.7;
  border: 1px solid transparent;
  width: 280px;
  line-height: 1.1em;
  font-size: 1em;
  border-radius: 25px;
  padding: 8px 5px 5px 5px;
  margin-bottom: 10px;
  list-style-type: none;
}

.fonction .container .info .filter-option__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 10px;
  margin-right: -10px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}

.fonction .container .info .style-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  position: relative;
  color: white;
  margin-left: -10px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1px 1px 0px 1px;
  background-color: #9356dc;
  border-radius: 50%;
}

.fonction .container .info .icon-gray {
  margin: 2px 10px 0px 20px;
  color: gray;
}

.fonction .container .info .icon-indigo {
  color: #9356dc;
  margin: 2px 10px 0px 20px;
}

.fonction .container .info:nth-child(1) {
  background-color: #f8f8f8;
}

.fonction .container .info:nth-child(2) {
  background-color: #f8f8f8;
}

.fonction .container .info:nth-child(3) {
  background-color: #f5edff;
}

/* pied de page en desktop */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  padding-bottom: 10px;
}

.footer h2 {
  margin: auto;
  font-size: 2em;
  color: #fff;
  letter-spacing: 5px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .container li {
  list-style-type: none;
}

.footer .container li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6em;
}

.footer .container li a:hover {
  text-decoration: underline;
}

.footer .container .fas {
  margin-right: 10px;
  color: #fff;
}

/* bouton Commander en desktop */
.divbtn {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 2px 0px;
}

.divbtn .btn {
  margin: auto;
  border: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  color: #fff;
  border-radius: 20px;
  line-height: 1.3em;
  padding: 8px 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79DA));
  background: linear-gradient(0deg, #9356DC 0%, #ff79DA 100%);
}

.divbtn .btn:hover {
  opacity: 0.7;
  -webkit-box-shadow: 2px 3px 3px #99E2D0;
          box-shadow: 2px 3px 3px #99E2D0;
  text-shadow: 2px 2px 2px #2d204d;
}

/* Entrée, Plat et Dessert */
.sousmenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  -webkit-animation: Apparition 1.5s both ease-in-out;
          animation: Apparition 1.5s both ease-in-out;
  /*apparition Entrée, plat, dessert*/
}

.sousmenu h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.sousmenu .container {
  width: 99%;
  margin: auto;
}

.sousmenu .container .plat {
  margin: auto;
  margin-bottom: 15px;
}

/*  Apparition sousmenu en groupe */
@-webkit-keyframes Apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes Apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* Temps d'attente avant l'arrivée du proupe: Entrée, Plat, Dessert */
.sousmenu:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sousmenu:nth-child(2) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.sousmenu:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

/* Mise en page pour chaque plat*/
.plat {
  border: 0px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  cursor: pointer;
  line-height: 0.5em;
  margin-bottom: 10px;
  color: #000;
  padding: 0.4em 1em 0.4em 1em;
  background-color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.plat .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.3em;
  height: auto;
  margin-top: 4em;
  padding: 1.2em 1em 0em 0em;
}

.plat_left {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
}

.plat_left .nom {
  font-size: 1.2em;
  padding: 0.5em 0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

.plat_left h5 {
  font-size: 1.3em;
  padding: 0.5em 0em;
  margin-bottom: 0em;
  margin-top: 0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plat_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 15px 0px 20px;
}

.plat_right .check {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: 0em;
  width: 5em;
  margin: -0.5em -2em -0.5em 0em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
}

.plat_right .check .fa-check {
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 1px 1px 0px 1px;
  border-radius: 50%;
  font-size: 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0em -1.6em 0em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.plat:hover {
  opacity: 0.8;
  position: relative;
  margin: auto;
}

.plat:hover .prix {
  padding: 1.2em 1em 0em 0em;
  margin-right: 1.5em;
  margin-left: 1em;
}

.plat:hover .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plat:hover .check .fa-check {
  color: #99E2D0;
  -webkit-animation: 500ms petitecoche ease-in-out both;
          animation: 500ms petitecoche ease-in-out both;
}

/* Animation de l'icone .fa-check de validation de menu */
@-webkit-keyframes petitecoche {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  25% {
    -webkit-transform: rotate(0.25turn);
            transform: rotate(0.25turn);
  }
  50% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  75% {
    -webkit-transform: rotate(0.75turn);
            transform: rotate(0.75turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    opacity: 1;
  }
}
@keyframes petitecoche {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  25% {
    -webkit-transform: rotate(0.25turn);
            transform: rotate(0.25turn);
  }
  50% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
  75% {
    -webkit-transform: rotate(0.75turn);
            transform: rotate(0.75turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    opacity: 1;
  }
}

/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */