/* En dessous de TABLETTES donc les mobiles */
@media screen and (max-width: 599px){
    body{          
        margin: 0px;
        padding: 0px;
        font-family: 'roboto', century, 'sans-serif', Verdana;      
    }
    .contain-page{
        min-width: 320px;
        height: 400px;
        margin: auto;  
        padding: 0px 0px 5px 0px;
        justify-content: center;
        box-sizing: border-box;
        background-color: #f1f1f1;

        /* Conteneur Entrée, Plat et dessert*/
        .restaurant {
            width: 100%;
            margin-top: -8px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            z-index: 66;
        }

        /* titre de chaque restaurant*/
        .titre{
            padding-top: 20px;
            padding-bottom: 10px;             
            margin-top: 15px;
            &_left{
                padding: 0;
                display: flex;
                width: 70%;
                text-align: left;
                justify-content: space-between;
                font-size: 0.81em;
                font-family: 'shrikhand';
            }
            &_right{
                cursor: pointer;
                width: 25px;               
                height: 20px;
                position: absolute;               
                padding: 0;
                display:flex;
                left: 80%;
                justify-content: flex-end;             
                
                .far{
                    font-size: 1.5em;                 
                }
                .fas{
                    display: none;
                    font-size: 1.5em;
                }
            }
        }

        .footer, .fonction, .endroit, .main-menu, .titre, .sousmenu, .divbtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: 100%;
            h2{
                text-align: left;
                margin-left: 20px;
            }
        }


        .header{
            width: 90%;
            height: 35px;
            img{
                margin-top: 0px;
                margin-bottom: 0px;
                width: 45%;
                height: 30px;            
            }
        }

        /* Titre de la page d'accueil */
        .endroit{
            margin-bottom: 2.5em;
            .search{
                margin-bottom: 15px;
            }
            h1{
                font-size: 1.7em;
                padding: 1px 23px;
                margin: 0px 20px 0px 20px;
            }
            p{
                padding: 1px 20px;
                font-size: 1.1em;
            }
        }
        $color-tertiaire: #069672;
        /* menu des restaurants page Accueil */
        .main-menu{
            justify-content: center;
            display: inline-flex;
            margin: 2.5em 0em 2em 0em;
            .container{
                width: 95%;
                margin: auto;
                justify-content: center;
                display: flex;
                justify-content: center;
                .restau{
                    display: block;
                    flex-direction: column;                  
                    margin: auto;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    justify-content: center;
                    width: 95%;                
                    border-radius: 20px;
                    position: relative;
                    .nouveau{
                        position: absolute;
                        left: 70%;
                        top: 35px;
                        color: darken($color-tertiaire, 5%);
                        background-color: darken($color-tertiaire, 0.0);
                        padding: 2.5px 4px;
                        border-radius: 3px;
                        font-size: 0.81em;
                    }
                    .image_menu{
                        img{
                            width: 100%;
                            height: 170px;
                            object-fit: cover;                    
                            margin: auto;
                            display: flex;
                            border-top-right-radius: 20px;
                            border-top-left-radius: 20px;       
                        }
                    }
                              
                }
            }
        }

        /* Entrée, Plat et Dessert*/
        .sousmenu{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            h2{
                text-align: left;
                margin-left: 20px;
            }
            .container{
                width: 100%;
                margin: auto;
                .plat{
                    width: 90%;
                    margin: auto;
                    margin-bottom: 20px;
                    &_left{
                        h5{
                            font-size: 1.1em;
                            padding: 0.5em 0em;
                        }
                        p{
                            font-size: 0.9em;
                            padding: 0.5em 0em;
                        }
                    }
                }
                .plat:hover{
                    width: 85%;
                }
            }
        }

        /* Pied de page */
        .footer{
            width: 100%;
            padding: 1em 0em 0em 0em;
            margin: 2em 0em 0.2em 0em;
            h2{
                font-size: 1.2em;
                font-family: 'shrikhand';
                margin-left: 20px;
            }
            .container{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                li{
                    margin-bottom: 5px;
                    margin-left: -15px;
                    font-size: .81em;
                }
            }
        }
    }
}


/*  Milieu de 600px à 1024px */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        margin: 0px;
        justify-content: center;     
    }
    .contain-page{
        display: inline-block;
        height: auto;
        margin: auto;
        justify-content: center;  
        box-sizing: border-box;
        max-width: 1024px;

        /* Zone en-tete d'accueil */
        .endroit{
            margin-bottom: 2em;
            h1{
                letter-spacing: 6px;
            
            }
            p{
                font-size: 1.2em;
                letter-spacing: 2px;
            }
            .btn span{
                font-weight: normal;
            }
        }

        /*Fonctionnement Accueil */
        .fonction{
            h2{
                text-align: center;
            }
        }

        /* Les menus en page d'accueil */
        .main-menu{
            h2{
                text-align: center;
            }
            .container{
                .restau {
                    width: 40%;
                    margin-left: 3%;
                    margin-right: 3%;
                    .nouveau{
                        left: 70%;
                    }
                }
            }

        }

        /* Pied de page*/
        .footer{
            margin-bottom: 1em;
            h2{
                font-family: 'shrikhand';
            }
            .container{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li{
                    list-style-type: none;            
                }
                li a{
                    color: #fff;
                    display: inline-block;
                    text-decoration: none;
                    font-size: 1.2em;
                }
                .fas{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                    margin-right: 10px;
                    color: #fff;
                }

            }
        }

        /* Titre de chaque restaurant */
        .titre{
            h1{
                font-size: 2em;
                font-family: 'shrikhand';
                margin: 0px 0px 0px 20px;
            }
        }

        /* contenaire du bouton Commander*/
        .divbtn{
            margin-bottom: 2em;
        }

        .sousmenu{
            h2{
                text-align: center;
            }
            .plat{
                &_left h5{
                    font-size: 1.3em; 
                    padding: 0.5em 0em;     
                }
                &_left p{
                    font-size: 1.1em;
                    padding: 0.5em 0em;
                }
                .prix{
                    font-size: 1.3em;
                }
            }
        }
    }
} 

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Les variables de notre page */
$color-primaire: #9356DC;
$color-secondaire: #ff79DA;
$color-tertiaire: #069672;
$backg-primary: rgba(190, 190, 190, 1); /* couleur fond du plat*/
$backg-secondary: rgba(190, 190, 190, 0.5); /* couleur fond après hover */ 
$shadow-bouton: 2px 3px 3px rgba(116, 15, 15, 1);/* ombre des box boutons*/
$shadow-txt: 1px 5px 5px gray; /* ombre de textes*/
$color-button: #FF79DA; /* zone de recherche villes */
$couleur-backg: rgba(220, 220, 220, 0.72);
$couleur-backg-plat: rgba(242, 242, 242, 1);

.contain-page{
    display: block;
    max-width: 1280px;
    height: auto;
    margin: auto;
    top: 5px; 
    box-sizing: border-box;
    //background-color: $couleur-backg;
    .restaurant{
        width: 100%;
    }
}

/* Le loader spinner*/
#wrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: blue;
    //animation: 3s 250ms ease-in-out;
    opacity: 1;
    h4{

        margin: auto;
        text-align: center;
        font: 2em verdana bold;
        animation: 3.5s bounce ease-in-out both;
    }
    .loading-spinner{
        width: 10rem;
        height: 10rem;
        display: inline-block;
        border: 3px solid rgba(51, 40, 212, 0.692);
        border-radius: 50%;
        margin-bottom: 10rem;
        margin: auto;
        justify-content: center;
        border-top-color: #Af00;
        animation: 2.5s spin ease-in-out both;
    }
    /* keyframes du Loading-spinner */
    @keyframes spin {
        5% {
            opacity: 1;
        }
        25% {
            transform: rotate(180deg);
        }
        
        90% {
            transform: rotate(270deg);
            opacity: 0;
        }
        100% {
            transform: rotate(360deg);
            opacity: 0;
            display: none;
        }
    }

    /*.spinner-end */
    .loading-dots > .dot1{
        width: 3rem;
        height: 3rem;
        background-color: rgb(148, 238, 130);
        border-radius: 50%;
        display: inline-block;
        animation: 4.5s bounce ease-in-out both;
    }
    @keyframes bounce {
        0%{
            transform: scale(0);
        }
        40%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.25);
        }       
        100%{
            transform: scale(0);
            display: none;
        }
    }
}


.contain-page {
    z-index: 9999;
    opacity: 1;
    background-color: #fff;
    animation: affichagepage 5s 1s both;
}

/* keyframes qui fait apparaitre la page d'accueil après le loading-spinner*/
@keyframes affichagepage {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.8;
    }
    
    100% {
        opacity: 1;
        background-color: #fff;
    }
} 

.header, .endroit, .titre, .fonction, .main-menu, .footer, .menu, .sousmenu, .divbtn {
    width: 100%;
    margin: 10px 0px 10px 0px;
}
h2{
    text-align: center;
    span{
        display: inline;
        padding-bottom: 8px;
        border: 3px rgba(28, 156, 96, 0.877) solid;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}

/* Titre chaque restaurant en desktop */
.titre{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 100%;
    display: flex;
    padding-top: 10px;
    margin-bottom: 2em;
    &_left{
        width: 80%;
        margin: 0em 0em 0em 1.5em;
        padding: 0;
        font: 1.5em 'shrikhand';
    }
    &_right{
        align-items: center;
        width: 1.5em;
        height: 1.5em;
        padding: 0;
        display:flex;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        position: relative;
                
        .far{
            position: relative;
            display: flex;
            cursor: pointer;
            font-size: 1.5em;
                    
        }
        .fas{
            display: none;
            cursor: pointer;
            font-size: 1.5em;
            position: relative;           
        }   
    }
}
.titre_right:hover{
    .fas{
        display: flex;
        padding: -10px;
        border-radius: 50%;
        transition-duration: 1s;
        color: rgb(238, 54, 9);
        
    }
    .far{
        display: none;
    }
}
@keyframes backgrAnimation {
    
}

/* photo menu sur chaque restaurant */
.menu{
    display: flex;
    margin-bottom: 10px; 
    img{
        display: block;
        height: 180px;
        object-fit: cover;
        width: 98%;
        margin: auto;        
    }
}

/* En-tete avec fleche pour aller sur page d'accueil*/
.header{
    padding-top: 10px;
    width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }
    .fa-arrow-left{
        position: relative;
        display: flex;
        height: 40px;
        font-size: 2em;
        color: #000;
        align-items: center;       
        width: 40px;               
    }
    img{
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 50px;
    }
}

/* Zone contenant titre en page d'accueil*/
.endroit{
    flex-direction: column;
    margin-bottom: 2em;
    h1 {
        text-align: center;
        letter-spacing: 0.4em;
        margin-bottom: 0px;
        font-size: 2em;        
    }
    p {
        text-align: center;
        letter-spacing: 0.2em;
        font-size: 1.3em;
    }

    .search{
        padding: 5px 0px;
        text-align: center;
        border-top: 3px solid rgba(248, 245, 245, 0.6);
        background-color: rgba(248, 245, 245, 0.3);
    }

    /* Bouton de page d'accueil*/
    .btn{
        margin: 15px 0px;
        height: 3em;      
        justify-content: center;
        width: 100%;
        background-color: $couleur-backg;
        border: none;
        span{
            align-items:center;
            justify-content:center;
            cursor: pointer;
            position: relative;
            margin: auto;
            color: #fff;
            border-radius: 20px;
            font-weight: bold;
            line-height: 1em;
            padding: 6px 10px;
            background: -webkit-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
            background: -moz-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
            background: -o-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
            background: linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
    
        }
    }
    .btn span:hover{
        opacity: 0.5;
        box-shadow: $shadow-bouton;/* ombre des box boutons*/
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

    }
}
.fonction, .main-menu, .sousmenu, .footer, .endroit{
    display: flex;
}

/*Explication fonctionnement en page d'accueil*/
$color-info: rgba(58, 42, 42, 0.2);  
.fonction{
    display: flex;
    height: auto;  
    flex-direction: column;
    h2{
        margin: 0;
        margin-left: 30px;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;   
        .info{
            display: flex;
            margin-right: 5%;
            padding: 5px 10px;
            background-color: $color-info;
            opacity: 0.7;
            width: 280px;
            line-height: 1.1em;
            font-size: 1em;
            border-radius: 25px;
            padding: 8px 5px 5px 5px;       
            margin-bottom: 10px;           
            list-style-type: none;
            .filter-option__label{
                display: flex;
                justify-content: flex-end;
                margin-left: 10px;
                margin-right: -10px;
                font: 1.4em bold;
            }
            .style-type{
                display: flex;
                justify-content: center;               
                width: 25px;
                height: 25px; 
                position: relative;                  
                color: white;
                margin-left: -10px;
                font-size: 0.8em;
                padding: 1px;                                       
                background-color: #7D298D;   
                border-radius: 50%;
            }
            .icon-gray{
                margin: 2px 10px 0px 20px;
                color: gray;
            }
            .icon-indigo{
                color: #7D298D;
                margin: 2px 10px 0px 20px;
            }
        }
    }
}

/* Menu chaque restaurant et son titre */
.main-menu{
    flex-direction: column;
    h2{
        margin: 0;
        margin-left: 10%;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .restau {
            width: 40%;
            justify-content: space-between;
            margin-right: 5%;
            margin-bottom: 20px;
            border-radius: 10px;
            padding-top: 0px;
            .nouveau{
                display: inline;
                position: relative;
                left: 80%;
                top: 20%;
                font-weight: bold;
                background-color: rgb(148, 238, 130);
                color: darken(rgb(5, 129, 15), 0%);
                padding: 2px 5px;
                border-radius: 3px;
            }      
            .image_menu{
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;                    
                    margin: auto;
                    display: flex;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;       
                }
            }
            .restau_titre h3{
                font-family: 'shrikhand';
            }
            .restau_titre p {
                font-family: verdana;
            }
        }
    }
    .restau_titre{
        display: flex;
        width: 100%;
        padding-bottom: 5px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: $couleur-backg-plat;
        .g-title{
            width: 85%;            
            margin-left: 20px;
            p, h3{
                margin: auto;
                padding: 2px 0px;
            }
        }
        /* bouton .btn_white est pareil que .titre_right
           (remplissage progressive de bas vers le haut) */
        .btn_white {  
            border: none;
            border-bottom-right-radius: 20px;
            .far{
                display: flex;
                font-size: 2em;
                cursor: pointer;
            }
            .fas{
                display: none;
                cursor: pointer;
                font-size: 2em;
            }
        }


        .btn_white:hover{
            .fas{
                display: flex;
                animation-duration: 1s ease;
                color: -webkit-linear-gradient($color-primaire 0%, $color-secondaire 100%);
                color: -moz-linear-gradient($color-primaire 0%, $color-secondaire 100%);
                color: -o-linear-gradient($color-primaire 0%, $color-secondaire 100%);
                color: linear-gradient($color-primaire 0%, $color-secondaire 100%);                          
            }
            .far{
                display: none;
            }            
        }
    }
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    h2{
        margin: auto;
        font-size: 2em;
        color: #fff;
        letter-spacing: 5px;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li{
            list-style-type: none;            
        }
        li a{
            color: #fff;
            display: inline-block;
            text-decoration: none;
            font-size: 1.5em;
        }
        li a:hover{
            text-shadow: $shadow-txt;
            background-color: $backg-primary;
            padding: 1px 1px;
            border-radius: 5px;
            font-size: 1.3em;
            font-weight: bold;
            opacity: 0.7;
        }
        .fas{
            margin-right: 10px;
            color: #fff;
        }       
    }
}

/* bouton Commander en desktop */
.divbtn{
    width: 100%;
    height: 3em;
    display: flex;
    margin-bottom: 20px;
    padding: 2px 0px;
    .btn {
        margin: auto;
        border: 0px;
        align-items:center;
        justify-content:center;
        cursor: pointer;
        position: relative;
        color: #fff;
        border-radius: 20px;
        font-weight: bold;
        line-height: 1.1em;
        padding: 8px 10px;
        background: -webkit-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
        background: -moz-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
        background: -o-linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);
        background: linear-gradient(0deg, $color-primaire 0%, $color-secondaire 100%);   
    }
    .btn:hover {
        opacity: 0.7;      
        box-shadow: $shadow-bouton;
        text-shadow: $shadow-txt;
    }
}

/* Entrée, Plat et Dessert */
.sousmenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    h2{
        text-align: center;
    }
    .container{
        width: 95%;
        margin: auto;
        .plat{
            margin: auto;
            margin-bottom: 20px;
        }        
    }
}

/* Création de l'animation du menu à l'arrivée sur la page */
.sousmenu {
    animation: Apparition 3000ms both ease-in-out;
}

@keyframes Apparition {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mise en page pour chaque plat*/
$color-backgplat: rgba(240, 240, 240, 1);
.plat{
    border: 2px solid transparent;
    display: flex;       
    border-radius: 20px;
    cursor: pointer;
    width: 90%;                      
    line-height: 0.5em;
    margin-bottom: 10px;
    color: #000;
    padding: 0.4em 1em 0.4em 1em;
    background-color: $couleur-backg-plat;
    transition: all 500ms ease;
    .prix {    
        align-items: flex-start;
        justify-content: flex-end;
        font-size: 1.4em;
        padding: 0.5em 0.5em;    
    }
    &_left{
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        white-space: nowrap;
        .nom{
            font-size: 1.2em;
            padding: 0.5em 0em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            align-items: flex-start;
            justify-content: flex-start;
            color: #000;
            margin-bottom: 0em;
            margin-top: 0.5em;

        }
        h5{
            font-size: 1.3em;
            padding: 0.5em 0em;
            margin-bottom: 0em;
            margin-top: 0em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }    
    }

    &_right{      
        display: flex;      
        .check{
            display: none;
            align-items: center;
            height: auto; 
            margin: 0em 0em 0em 1em;
            width: 3.2em;
            margin: -0.5em -2em -0.5em 0em;         
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: rgb(142, 142, 236);
            .fa-check{          
                color: blue;
                background-color: white;                   
                width: 20px;
                height: 20px;
                padding: 2px;
                border-radius: 50%;
                font-size: 0.7em;
                align-items: center; 
                justify-content: center;
                margin: 0em -2em 0em 1em;                     
            }
        }
    }
    
}
.plat:hover{
    opacity: 1;
    position: relative;
    margin-left: 0%;
    width: 88%;
    transform: translateX(-20px);
    .check{
        display: flex;
        .fa-check{
            animation: 300ms petitecoche ease-in-out both;
        }
    }
} 

/* Animation de l'icone .fa-check de validation de menu */
@keyframes petitecoche {
    0%{
        transform: rotate(0turn);
    }
    25%{
        transform: rotate(0.25turn);
    }
    50%{
        transform: rotate(0.5turn);
    }
    75% {
        transform: rotate(0.75turn);
    }       
    100% {
        transform: rotate(1turn);
        opacity: 1;
    }
}

/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
    body {
      flex-direction: row;
    }
}
  
  /* orientation portrait sur mobile */
@media (orientation: portrait) {
    body {
      flex-direction: column;
    }
}