@charset "UTF-8";
/* En dessous de TABLETTES donc les mobiles */
@media screen and (max-width: 599px) {
  body {
    background-color: #d10d0d;
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', century, 'sans-serif', Verdana;
  }
  .contain-page {
    display: inline-block;
    min-width: 320px;
    height: auto;
    margin: auto;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #790707;
  }
  .contain-page .restaurant {
    width: 100%;
  }
  .contain-page .footer, .contain-page .fonction, .contain-page .endroit, .contain-page .main-menu, .contain-page .titre, .contain-page .sousmenu, .contain-page .divbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contain-page .footer h2, .contain-page .fonction h2, .contain-page .endroit h2, .contain-page .main-menu h2, .contain-page .titre h2, .contain-page .sousmenu h2, .contain-page .divbtn h2 {
    text-align: left;
    margin-left: 10px;
  }
  .contain-page .main-menu {
    margin-bottom: 20px;
    height: auto;
  }
  .contain-page .main-menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: blue;
    padding: 0;
    height: auto;
  }
  .contain-page .main-menu .container .restau {
    width: 100%;
    height: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: green;
  }
  .contain-page .main-menu .container .restau .nouveau {
    position: relative;
    left: 70%;
    top: 50px;
  }
  .contain-page .footer h2 {
    margin-left: 5%;
  }
  .contain-page .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -10px;
  }
  .contain-page .footer .container li {
    margin: 5px 0px;
  }
}

/*
    .titre, .loader-frame, .header, .main-menu, .fonction, .sousmenu, .menu, .footer, .choix-endroit{
        width: 100%;
        text-align: left;
        margin: auto;
        justify-content: center;
        h2{
            text-align: left;
            margin-left: 15px;
        }
    }

    /* En-tête de nos pages*/
/*  .header{
        width: 100%;
        padding-top: 10px;
        .fa-arrow-left{
            display: flex;
            color: #000;
            float: left;
            align-items: center;        
            margin-left: 7%;
        }
        img {
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            width: 50%;
        }
    }
    .restau_menu {
        .image_menu{
            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
        }
    }

    /* couleur backg et input de search */
/*
    .recherche-ville{
        display: flex;
        flex-direction: column;
        width: 100%;            
        h1, p{
            text-align: center;           
            display: flex;
            margin-left: 7%;
            margin-right: 7%;
            line-height: 1em;
            margin-top: 5px;
            margin-bottom: 5px;                                 
        }
    
    }    

    $color-search: rgb(243, 243, 243);
    .search{
        display: block;
        border-top: 5px $color-search solid;
        background-color: rgb(243, 243, 243);       
        cursor: pointer;    
        &_icon{
            display: block;
            width: 100%;    
            text-align: center;
            padding: 5px 0;
            .fa-map-marker-alt{
                margin-right: 10px;
            }
        }            
    }
    /* Création des */
/*
    .btn{
        display: inline-block;
        margin: auto;    
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        padding: 5px 1em;
        color: #FFF;
        border-radius: 10rem;
        box-shadow: 1px 5px 5px rgba(116, 15, 15, 1);/* ombre des box boutons*/
/* zone explication fonctionnement */
/*
    $color-info: rgba(240, 232, 232, 0.7);
    .fonction{
        width: 100%;
        height: auto;
        margin: 0;  
        .fonctionnement{            
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0px;            
            justify-content: center;        
            .info{            
                background-color: $color-info;
                opacity: 0.7;
                width: 280px;
                line-height: 1.1em;
                font-size: 1.1em;
                border-radius: 25px;
                padding: 5px 5px 5px 5px;       
                margin-bottom: 10px;
                display: flex;            
                list-style-type: none;                
                .style-type{   
                    position: relative;    
                    width: 20px;
                    height: 20px;
                    margin-left: -10px;
                    margin-right: 10px;                    
                    color: white;
                    font-size: 0.7em;                    
                    background-color: #7D298D;
                    padding: 1px 0px 1px 10px;
                    border-radius: 50%;
                }
                .icon-gray{
                    margin-right: 5%;
                    color: gray;
                }
                .icon-indigo{
                    color: #7D298D;
                    margin-right: 5%;
                }                
            }
        }
    }
    .main-menu{
        display: flex;
        flex-direction: column;
        margin: auto;       
        .container-menu{            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
            margin: auto;
            width: 100%;
            .restau_menu{
                display: inline-block;
                .image_menu img{
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                    margin: auto;
                    justify-content: center;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }
        }
    }
    .restau_menu{
        margin-bottom: 10px;
        width: 100%;
        .container-titre{
            display: inline-flex;
            width: 100%;            
            .restau_menu_title{
                height: 45px;               
                display: inline-block;
                width: 80%;                                           
                p, h3{              
                    margin-left: 10px;
                    margin: 0;
                    text-align: left;  
                    padding-left: 10px;                                   
                }
            }
            .btn_white{
                border: none;
                font-size: 1.5em;
                
            }
        }
        .nouveau{
            position: relative;            
            top: 90px;
            margin-right: 30px;
            float: right;
            padding: 2px 5px;
            background-color: rgb(158, 216, 173);         
            color: rgba(6, 49, 23, 0.664);
        }        
    }

    /* Création des  degradé backgr-lieaire */
/*
    .btn{
        background: -webkit-linear-gradient(#e496c9, #b92788, #970265);
        background: -moz-linear-gradient(#e496c9, #b92788, #970265);
        background: -o-linear-gradient(#e496c9, #b92788, #970265);
        background: linear-gradient(#e496c9, #b92788, #970265);        
    }
    

    $colorbackg-footer: rgba(32, 17, 17, 0.81);/*couleur backg footer*/
/*
    .footer{        
        max-width: 96%;
        display: block;
        padding: 0px 0px 10px 10px;
        flex-direction: column;
        align-self: flex-start;
        text-align: left;
        color: #FFF;
        background-color: $colorbackg-footer;        
        
        .pied{                  
            display: flex;
            flex-direction: column;
            margin-left: -30px;                        
            position: relative;
            list-style-type: none; 
            li{
                display: block;
                width: 94%;
            }           
            li a{
                text-align: left;
                color: #FFF;
                margin-bottom: 10px;
                text-decoration: none;
                display: block;             
                height: 20px;               
            }        
            .fas{
                margin-right: 10px;
            }
       }     
    }
    .header{
        margin-bottom: 0px;
    }
    .titre{
        width: 97%;
        height: auto;
        display: flex;
        flex-direction: row;        
        margin-top: -20px;
        padding: 5px 0px 0px 0px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        .restau_menu_title{
            display: inline-block;
            width: 75%;
            line-height: 0px;
            background-color: rgb(237, 237, 243);
        }
        .fa-heart{
            width: 10%;
            display: inline-block;
            color: rgb(32, 5, 5);
            font-size: 1.5em;

        }
    }

    #gout, #enchantee, #francaise, #sens{    
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .gout, .enchantee, .francaise, .sens{
        display: block;    
        text-align: center;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    /*
    .sousmenu{
        width: 98%;
        display: flex;
        flex-direction: column;
        h2 {
            margin-left: 5%;
            margin-top: 0px;
            width: 60%;
            span{
                display: inline;
                padding-bottom: 10px;
                border: 3px rgba(127, 226, 123, 0.8) solid;
                border-top: none;
                border-left: none;
                border-right: none;
            }          
        }
        .container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            .de_mi_fi{
                width: 100%;
                display: inline-flex;
                flex-direction: row;                
                height: auto;
                justify-content: center;                            
                .check{
                    display:none;                    
                    margin-top: 1px;
                    width: 30px;
                    height: 37px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background-color: rgba(19, 59, 235, 0.692);
                    padding: 15px 5px 5px 15px;                    
                }
            }
        }
    }      
}
.compose1{
    position: relative;
    display: block;
    height: 50px;
    cursor: pointer;
    width: 80%;
    text-align: left;
    margin-bottom: 15px;
    background-color: rgba(214, 210, 210, 0.5);
    border-radius: 15px;
    padding: 15px 5px 5px 15px;
    line-height: 0px;
    color: #000;
    h5{
        margin-top: 0px;
        font-size: 0.81em;
    }
    &_description{
        display: inline;
        font-size: 0.6em;
    }
    &_prix{
        display: inline;
        float: right;
        margin-top: 0px;
        margin-right: 3%;
        font-size: 1em;
    }*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contain-page {
    display: inline-block;
    height: auto;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1024px;
  }
}

/*
    .titre, .header, .main-menu, .fonction, .sousmenu, .footer, .choix-endroit{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .loader-frame{
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      //  animation: loader-frame 3s ease;    
        .loader1, .loader2, .loader3, span{
            display: block;
            border: 5px solid transparent;
            border-radius: 50%;
            position: relative;
            margin: auto;            
        }
        .loader1{
            width: 280px;
            height: 280px;             
            border-top: 10px solid rgb(8, 99, 99);
            border-bottom: 10px solid rgb(8, 99, 99);
            animation: clockwisespin 4000ms ease;
        }
        .loader2{
            margin-top: 5px;
            width: 260px;
            height: 260px;
            border-left: 10px solid rgb(99, 70, 8);
            border-right: 10px solid rgb(99, 70, 8);
            animation: anticlockwisespin 4000ms ease;
        }
        span{
            display: inline-block;
            top: 40px;
            color: blue;
            font-weight: bold;
            text-shadow: 1px 3px 3px rgb(49, 1, 1);
        }
        .loader3{         
            width: 200px;
            height: 200px;
            margin-top: 20px;
            align-items: center;   
            border-left: 5px solid rgb(9, 7, 0);
            border-right: 5px solid rgb(0, 70, 8);
            border-top: 5px solid rgb(8, 0, 99);
            border-bottom: 5px solid rgb(209, 14, 14);
            animation: minmilieu 4200ms ease;
        }
    }
    
    
    .sens, .francaise, .gout, .enchantee{      
        max-width: 1024px;    
        margin: auto;  
        padding: 0px;
        box-sizing: border-box;
        .btn{
            margin: auto;
            display: flex;

        }
    }
    .header{
        width: 100%;
        display: block;
        img{            
            justify-content: center;
            height: auto;
            object-fit: cover;
            margin: auto;
        }
        a .fa-arrow-left{
            left: 5%;
            align-items: center;
        }
    }
    .restau_menu{
        width: 100%;
        justify-content: center;
        margin: auto;
        .image_menu{
            display: inline-block;
            width: 100%;
            margin: auto;
            justify-content: center;
            img{
                justify-content: center;
                margin: auto;
                width: 100%;
                height: 100px;
                object-fit: cover;                
            }
        }
    }

    .titre {
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .recherche-ville{
        display: block;
        margin: 0;
        width: 100%;
        .search{
            font-size: 2em;
            padding-top: 5px;
            text-align: center;
            background-color: rgb(247, 240, 240);
            width: 100%;
        }
        h1, p{
            text-align: center;
        }
        .btn{
            display: inline;             
            margin: auto;                    
            font-size: 1rem;
            cursor: pointer;
            align-content: center;           
            padding: 5px 1em;
            color: #FFF;
            border-radius: 10rem;
        
        }
    }
    .fonction{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #F1F1F1;
        .fonctionnement{
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap; 
            justify-content: center;           
            margin: auto;
            .info{
                justify-content: space-between;
                margin-right: 15%;
                margin-bottom: 15px;
                background-color: #fff;
                opacity: 0.7;
                line-height: 1.1em;
                font-size: 1.1em;
                border-radius: 25px;
                padding: 5px 10px 5px 15px;
                display: flex;            
                list-style-type: none;
                .fas{
                    color: gray;
                    margin: 0px 10px;
                }
            }
        }
    }
    .main-menu {
        display: flex;
        flex-direction: column;
        .container-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: rgba(89, 110, 108, 0.068);
            justify-content: center;
            .restau_menu{
                margin-right: 10%;
                margin-bottom: 15px;
                width: 35%;
                .nouveau{
                    display: inline;
                    position: relative;
                    left: 80px;
                    top: 30px;
                    z-index: 20;
                    padding: 2px 5px;                    
                }
                .image_menu{
                    width: 100%;
                    margin: auto;
                    img{
                        display: inline-block;
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }
    .container-titre{
        display: flex;
        .restau_menu_title{
            width: 90%;
            padding-left: 5%;
            p, h3{
                margin: 0;
                text-align: left;
            }
        }
        .btn_white{
            border: none;
        }
    }


    .footer {
        background-color: rgba(32, 17, 17, 0.6);
        padding-bottom: 20px;
        color: #fff;
        .pied{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;    
            li{
                list-style-type: none;
                margin-right: auto;
                i{
                    margin-right: 10px;
                }
            }
            :hover{
                text-shadow: 2px 2px 3px #000;
            }
            a{
                color: #fff;
            }
        }
    }   
    
    a{
        text-decoration: none;
    }
    
    
    .gout, .enchantee, .sens, .francais{
        width: 100%;
    }
    .header{
        .fa-arrow-left{
            position: absolute;
            margin-left: 15%;
            font-size: 1.5em;        
        }
    }
    .titre{
        width: 100%;
        .restau_menu_title{
            width: 80%;        
            display: inline-block;
        }
        .fa-heart{
            width: 15%;
        }
    }
    /*
    .sousmenu{
        width: 100%;
        display: flex;
        flex-direction: column;
        h2{
            margin: 5px 0px 10px 0px;
            span{
                display: inline;
                padding-bottom: 5px;
                border: 3px rgba(127, 226, 123, 1) solid;
                border-top: none;
                border-left: none;
                border-right: none;   
            }
        }
        .container{
            width: 100%;
            justify-content: center;
            margin: auto;
            display: flex;
            flex-direction: column;
            .de_mi_fi{
                justify-content: center;
                margin: auto;
                width: 85%;                
                display: block;
                flex-direction: row;
                .check{
                    display: none;                    
                    margin-top: 2px;
                    width: 30px;
                    height: 47px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background-color: rgba(19, 59, 235, 0.692);
                    padding: 15px 5px 5px 15px;
                    .fa-check{            
                        color: blue;
                        background-color: white;
                        padding: 5px;    
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        font-size: 0.8em;        
                    }                    
                }
                .compose1{
                    display: inline-block;
                    width: 90%;
                    h5{
                        font-size: 1em;
                    }
                    &_description{
                        font-size: 1em;
                    }
                    &_prix{
                        font-size: 1em;
                    }
                }
            }
        }
    }
    */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* Les variables de notre page */
/* couleur fond du plat*/
/* couleur fond après hover */
/* ombre des box boutons*/
/* ombre de textes*/
/* zone de recherche villes */
.contain-page {
  display: block;
  max-width: 1280px;
  height: auto;
  margin: auto;
  top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(242, 242, 242, 0.1);
}

.contain-page .restaurant {
  background-color: green;
  width: 100%;
}

.loader-frame {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-animation: loader-frame 3500ms ease;
          animation: loader-frame 3500ms ease;
}

.loader-frame .loader1, .loader-frame .loader2, .loader-frame .loader3, .loader-frame span {
  display: block;
  border: 5px solid transparent;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.loader-frame .loader1 {
  width: 280px;
  height: 280px;
  border-top: 10px solid #086363;
  border-bottom: 10px solid #086363;
  -webkit-animation: clockwisespin 3000ms ease;
          animation: clockwisespin 3000ms ease;
}

.loader-frame .loader2 {
  margin-top: 5px;
  width: 260px;
  height: 260px;
  border-left: 10px solid #634608;
  border-right: 10px solid #634608;
  -webkit-animation: anticlockwisespin 3500ms ease;
          animation: anticlockwisespin 3500ms ease;
}

.loader-frame span {
  display: inline-block;
  border: 1px solid black;
  top: 40px;
  color: blue;
  font-weight: bold;
  text-shadow: 1px 3px 3px #310101;
}

.loader-frame .loader3 {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 5px solid #090700;
  border-right: 5px solid #004608;
  border-top: 5px solid #080063;
  border-bottom: 5px solid #d10e0e;
  -webkit-animation: minmilieu 2200ms ease;
          animation: minmilieu 2200ms ease;
}

/*transformation des loaders */
@-webkit-keyframes clockwisespin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
  }
}
@keyframes clockwisespin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: none;
  }
}

@-webkit-keyframes anticlockwisespin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    display: none;
  }
}

@keyframes anticlockwisespin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    display: none;
  }
}

@-webkit-keyframes span-loader {
  from {
    -webkit-transform: translateX(0deg);
            transform: translateX(0deg);
  }
  to {
    -webkit-transform: translateX(0deg);
            transform: translateX(0deg);
    display: none;
  }
}

@keyframes span-loader {
  from {
    -webkit-transform: translateX(0deg);
            transform: translateX(0deg);
  }
  to {
    -webkit-transform: translateX(0deg);
            transform: translateX(0deg);
    display: none;
  }
}

@-webkit-keyframes minmilieu {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    display: none;
  }
}

@keyframes minmilieu {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    display: none;
  }
}

.header, .endroit, .titre, .fonction, .main-menu, .footer, .menu, .sousmenu, .divbtn {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

h2 {
  text-align: left;
  margin-left: 10%;
}

h2 span {
  display: inline;
  padding-bottom: 8px;
  border: 3px rgba(127, 226, 123, 0.8) solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.titre {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.titre_left {
  width: 80%;
  margin-left: 25px;
  padding: 0;
  font-size: 1.2em;
}

.titre_left h1 {
  margin: 0;
}

.titre_right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.titre_right .far {
  font-size: 2.5em;
}

.titre_right .fas {
  display: none;
  font-size: 2.5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.menu img {
  display: block;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 98%;
  margin: auto;
}

.header {
  padding-top: 10px;
  width: 80%;
  margin: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header a {
  text-decoration: none;
}

.header .fa-arrow-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  font-size: 2em;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}

.header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  height: 50px;
}

.endroit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0px;
}

.endroit h1 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 2em;
  padding: 0px 10%;
}

.endroit p {
  text-align: center;
  font-size: 1.1em;
}

.endroit .search {
  padding: 5px 0px;
  text-align: center;
  border-top: 3px solid rgba(248, 245, 245, 0.6);
  background-color: rgba(248, 245, 245, 0.3);
}

.endroit .btn {
  margin: 15px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.1);
  border: none;
}

.endroit .btn span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  margin: auto;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  line-height: 1em;
  padding: 5px 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ecb1d8), color-stop(#b92788), to(#970265));
  background: linear-gradient(#ecb1d8, #b92788, #970265);
}

.fonction, .main-menu, .sousmenu, .footer, .endroit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonction h2 {
  margin: 0;
  margin-left: 10%;
}

.fonction .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonction .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  padding: 5px 10px;
  background-color: rgba(240, 232, 232, 0.7);
  opacity: 0.7;
  width: 260px;
  line-height: 1.1em;
  font-size: 1.1em;
  border-radius: 25px;
  padding: 8px 5px 5px 5px;
  margin-bottom: 10px;
  list-style-type: none;
}

.fonction .container .info .filter-option__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 10px;
  margin-right: -10px;
}

.fonction .container .info .style-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  position: relative;
  color: white;
  margin-left: -10px;
  font-size: 0.8em;
  padding: 1px;
  background-color: #7D298D;
  border-radius: 50%;
}

.fonction .container .info .icon-gray {
  margin: 0px 10px 0px 20px;
  color: gray;
}

.fonction .container .info .icon-indigo {
  color: #7D298D;
  margin: 0px 10px 0px 20px;
}

.main-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-menu h2 {
  margin: 0;
  margin-left: 10%;
}

.main-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu .container .restau {
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 0px;
}

.main-menu .container .restau .nouveau {
  display: inline;
  position: relative;
  left: 80%;
  top: 20%;
  font-weight: bold;
  background-color: #99E2D0;
  color: #32b091;
  padding: 5px 5px;
  border-radius: 2px;
}

.main-menu .container .restau .image_menu img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.main-menu .restau_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(190, 190, 190, 0.1);
}

.main-menu .restau_titre .g-title {
  width: 85%;
  margin-left: 20px;
}

.main-menu .restau_titre .g-title p, .main-menu .restau_titre .g-title h3 {
  margin: auto;
  padding: 2px 0px;
}

.main-menu .restau_titre .btn_white {
  border: none;
  background-color: rgba(190, 190, 190, 0.01);
}

.main-menu .restau_titre .btn_white .far {
  font-size: 2em;
}

.main-menu .restau_titre .btn_white .fas {
  display: none;
  font-size: 2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

.footer h2 {
  margin: auto;
  font-size: 2em;
  color: #fff;
  letter-spacing: 5px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .container li {
  list-style-type: none;
}

.footer .container li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
}

.footer .container .fas {
  margin-right: 10px;
  color: #fff;
}

.divbtn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.divbtn .btn {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  line-height: 1em;
  padding: 5px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ecb1d8), color-stop(#b92788), to(#970265));
  background: linear-gradient(#ecb1d8, #b92788, #970265);
}

.sousmenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.sousmenu h2 {
  text-align: left;
  margin-left: 20px;
}

.sousmenu .container {
  width: 95%;
  margin: auto;
}

.sousmenu .container .plat {
  margin: auto;
  margin-bottom: 20px;
}

.plat {
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  cursor: pointer;
  width: 90%;
  line-height: 0px;
  color: #000;
  padding: 5px 10px;
  background-color: #fff;
  -webkit-transition: all 2500ms ease;
  transition: all 2500ms ease;
}

.plat .prix {
  font-size: 1.5em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.plat_left {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap;
}

.plat_left .nom, .plat_left h5 {
  padding: 5px 0px;
  margin: 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #000;
  line-height: 1em;
  font-size: 1.1em;
}

.plat_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plat_right .check {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: 0em 0em 0em 1em;
  width: 3.2em;
  margin: -0.5em -2em -0.5em 0em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #8e8eec;
}

.plat_right .check .fa-check {
  color: blue;
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  font-size: 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0em -2em 0em 1em;
}

/*

*/
/*            .prix{
                display: inline-block;
                width: 30px;
                height: auto;
                border: 2px solid blue;

            }
            .check{
                display: flex;                
                width: 50px;
                height: 55px;
                align-items: center;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: rgba(19, 59, 235, 0.692);
                margin: 0px 5px 10px 15px;
                transition: transform 330ms ease;
                .fa-check{            
                    color: blue;
                    background-color: white;
                    padding: 5px;    
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    font-size: 0.7em;        
                }
            }

        }
        /*
        .check{
            display: flex;                    
            margin-top: 0px;
            width: 30px;
            height: 46px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: rgba(19, 59, 235, 0.692);
            padding: 15px 5px 5px 15px;
            
            .fa-check{            
                color: blue;
                background-color: white;
                padding: 5px;    
                width: 10px;
                height: 10px;
                border-radius: 50%;
                font-size: 0.8em;        
            } 
                             
        } 
          
    }
}
    .compose1:hover{
        padding-right: 20px;
        display: flex;
        height: 47px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: $backg-secondary;
        width:90%;
        .compose1:hover + .check {
            transform: translate(-1px, 0);
            display: flex;
            margin-top: 0px;
            width: 30px;
            height: 50px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: rgba(19, 59, 235, 0.692);
            padding: 15px 5px 5px 15px;
        }
        .check{
            display: flex;
        }
    }
    */
/* ici la mise place de l'effet hover de compose1*/
/*
.compose1:hover + .check{
    transform: translate(-1px, 0);
    position: relative;
    display: flex;
    margin-top: 0px;
    width: 30px;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(19, 59, 235, 0.692);
    padding: 15px 5px 5px 15px;

}
*/
/*
.check{
    display: flex;
    margin-top: 3px;
    width: 30px;
    height: 45px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(19, 59, 235, 0.692);
    padding: 15px 5px 0px 15px;
    transition: transform 330ms ease;
    .fa-check{
        color: #fff;
    }
    
}
*/
/*
    form{
        width: 100%;
        margin: 0rem;
        .btn{
            background: -webkit-linear-gradient(#ecb1d8, #b92788, #970265);
            background: -moz-linear-gradient(#ecb1d8, #b92788, #970265);
            background: -o-linear-gradient(#ecb1d8, #b92788, #970265);
            background: linear-gradient(#ecb1d8, #b92788, #970265);      
            margin: auto;
            justify-content: center;    
            font-size: 1rem;
            cursor: pointer;
            padding: 5px 1em;
            color: #FFF;
            border-radius: 10rem;    
            box-shadow: 1px 5px 5px rgba(116, 15, 15, 1);/* ombre des box boutons*/
/*
    .nouveau{
        background-color: $color-tertiaire;
        color: darken($color-tertiaire, 30%);
    }
    .container-titre{
        .btn_white{
            color: gray;
        }
    }
    .titre{
        .fa-heart{
            color: rgba(116, 15, 15, 0.3);
            :hover{        
                color: #970265;
            }
        }
}

/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */