html, body{
	background-color: green;
  margin-bottom: auto;
 font-family: "romantic"; 
  
}
.contain-page{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
  width: auto;
  background-color: gray;
  align-self: center;
  justify-content: center;
}
