@charset "UTF-8";
body {
  background: #ebe9e9;
}

.contain-page {
  display: block;
  max-width: 1280px;
  height: auto;
  margin: auto;
  padding: 5px 70px 20px 70px;
  box-sizing: border-box;
  background-color: rgba(196, 13, 13, 0.167);
}

.footer, .header, .main-menu, .fonction, .choix-endroit, .titre {
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
}

/* En-tête de nos pages*/
.header .fa-arrow-left {
  display: flex;
  color: #000;
  float: left;
  width: 10%;
  padding: 0 auto;
  margin-left: 5%;
  font-size: 40px;
}
.header img {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 50px;
  width: 40%;
}

/* Partie concernant le titre */
.titre {
  width: 100%;
  font-size: 1.4em;
  margin-top: -1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* zone de recherche villes */
.choix-endroit form .recherche-ville {
  display: inline-block;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  border: 3px white solid;
  height: 50px;
  width: 100%;
}
.choix-endroit .bouton {
  display: inline-block;
  background-color: #c342b9;
  padding: 5px 15px;
  border-radius: 20Px;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
}
.choix-endroit .bouton:checked {
  border: none;
}

/* zone explication fonctionnement */
.fonction .fonctionnement {
  width: 99%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.fonction .fonctionnement .info {
  background-color: #F1F2F6;
  line-height: 1.2em;
  font-size: 1.2em;
  border-radius: 25px;
  padding: 10px 15px 0px 0px;
  width: auto;
  height: 35px;
  margin-right: 5%;
  margin-bottom: 15px;
  display: inline-block;
  list-style-type: none;
}
.fonction .fonctionnement .info .style-type {
  position: relative;
  margin-right: 5px;
  width: 25px;
  height: 20px;
  left: -14px;
  color: white;
  font-size: 0.8em;
  background-color: #7D298D;
  padding: 4px 10px 4px 10px;
  border-radius: 50%;
}
.fonction .fonctionnement .info .icon-gray {
  color: gray;
  margin-right: 10px;
}
.fonction .fonctionnement .info .icon-indigo {
  margin-right: 10px;
  color: indigo;
}

/* section des restaurants*/
.main-menu .container-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main-menu .container-menu .restau_menu {
  margin-right: 10%;
}
.main-menu .container-menu .restau_menu .nouveau {
  position: relative;
  top: 40px;
  float: right;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.426);
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: rgba(28, 228, 128, 0.426);
  z-index: 10;
}
.main-menu .container-menu .restau_menu .like-button {
  display: flex;
}
.main-menu .container-menu .restau_menu .like-button input {
  z-index: -1;
  border: none;
}
.main-menu .container-menu .restau_menu .like-button .fa-heart {
  color: #fff;
  font-size: 30px;
}
.main-menu .container-menu .restau_menu .like-button label .fa-heart:hover {
  font-size: 30px;
  color: #5ca7d3;
  -webkit-transition: color 3s linear;
  -moz-transition: color 3s linear;
  -o-transition: color 3s linear;
  transition: color 3s linear;
}
.main-menu .container-menu .restau_menu .like-button:valid {
  background-color: #97992a;
}

.footer nav .pied {
  width: 99%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
.footer nav .pied li {
  justify-content: space-between;
  margin-right: auto;
}
.footer nav .pied li i {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.image_menu img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

#gout, #enchantee, #francaise, #sens {
  background-color: whitesmoke;
}

.gout, .sens, .enchantee, .francaise {
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.gout .entree, .gout .plat, .gout .dessert, .sens .entree, .sens .plat, .sens .dessert, .enchantee .entree, .enchantee .plat, .enchantee .dessert, .francaise .entree, .francaise .plat, .francaise .dessert {
  margin-bottom: 30px;
  padding-bottom: 10px;
  margin: auto;
  height: auto;
  display: inline-block;
  flex-direction: column;
}
.gout .entree h2 span, .gout .plat h2 span, .gout .dessert h2 span, .sens .entree h2 span, .sens .plat h2 span, .sens .dessert h2 span, .enchantee .entree h2 span, .enchantee .plat h2 span, .enchantee .dessert h2 span, .francaise .entree h2 span, .francaise .plat h2 span, .francaise .dessert h2 span {
  display: inline;
  padding-bottom: 10px;
  border: 2px 0px 10px 0px blue solid;
}
.gout .entree .container, .gout .plat .container, .gout .dessert .container, .sens .entree .container, .sens .plat .container, .sens .dessert .container, .enchantee .entree .container, .enchantee .plat .container, .enchantee .dessert .container, .francaise .entree .container, .francaise .plat .container, .francaise .dessert .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.gout .entree .container .de_mi_fi, .gout .plat .container .de_mi_fi, .gout .dessert .container .de_mi_fi, .sens .entree .container .de_mi_fi, .sens .plat .container .de_mi_fi, .sens .dessert .container .de_mi_fi, .enchantee .entree .container .de_mi_fi, .enchantee .plat .container .de_mi_fi, .enchantee .dessert .container .de_mi_fi, .francaise .entree .container .de_mi_fi, .francaise .plat .container .de_mi_fi, .francaise .dessert .container .de_mi_fi {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: auto;
  margin-right: 5%;
}
.gout .entree .container .de_mi_fi .compose1, .gout .plat .container .de_mi_fi .compose1, .gout .dessert .container .de_mi_fi .compose1, .sens .entree .container .de_mi_fi .compose1, .sens .plat .container .de_mi_fi .compose1, .sens .dessert .container .de_mi_fi .compose1, .enchantee .entree .container .de_mi_fi .compose1, .enchantee .plat .container .de_mi_fi .compose1, .enchantee .dessert .container .de_mi_fi .compose1, .francaise .entree .container .de_mi_fi .compose1, .francaise .plat .container .de_mi_fi .compose1, .francaise .dessert .container .de_mi_fi .compose1 {
  position: relative;
  display: inline-block;
  height: auto;
  width: 250px;
  text-align: left;
  margin-bottom: 15px;
  background-color: #cad6e0f5;
  border-radius: 15px;
  padding: 10px 0px 5px 15px;
  line-height: 0px;
  color: #000;
}
.gout .entree .container .de_mi_fi .compose1 h5, .gout .plat .container .de_mi_fi .compose1 h5, .gout .dessert .container .de_mi_fi .compose1 h5, .sens .entree .container .de_mi_fi .compose1 h5, .sens .plat .container .de_mi_fi .compose1 h5, .sens .dessert .container .de_mi_fi .compose1 h5, .enchantee .entree .container .de_mi_fi .compose1 h5, .enchantee .plat .container .de_mi_fi .compose1 h5, .enchantee .dessert .container .de_mi_fi .compose1 h5, .francaise .entree .container .de_mi_fi .compose1 h5, .francaise .plat .container .de_mi_fi .compose1 h5, .francaise .dessert .container .de_mi_fi .compose1 h5 {
  margin-top: 0px;
  font-size: 1em;
}
.gout .entree .container .de_mi_fi .compose1_description, .gout .plat .container .de_mi_fi .compose1_description, .gout .dessert .container .de_mi_fi .compose1_description, .sens .entree .container .de_mi_fi .compose1_description, .sens .plat .container .de_mi_fi .compose1_description, .sens .dessert .container .de_mi_fi .compose1_description, .enchantee .entree .container .de_mi_fi .compose1_description, .enchantee .plat .container .de_mi_fi .compose1_description, .enchantee .dessert .container .de_mi_fi .compose1_description, .francaise .entree .container .de_mi_fi .compose1_description, .francaise .plat .container .de_mi_fi .compose1_description, .francaise .dessert .container .de_mi_fi .compose1_description {
  display: inline;
  font-size: 0.8em;
  margin-right: 10%;
}
.gout .entree .container .de_mi_fi .compose1_prix, .gout .plat .container .de_mi_fi .compose1_prix, .gout .dessert .container .de_mi_fi .compose1_prix, .sens .entree .container .de_mi_fi .compose1_prix, .sens .plat .container .de_mi_fi .compose1_prix, .sens .dessert .container .de_mi_fi .compose1_prix, .enchantee .entree .container .de_mi_fi .compose1_prix, .enchantee .plat .container .de_mi_fi .compose1_prix, .enchantee .dessert .container .de_mi_fi .compose1_prix, .francaise .entree .container .de_mi_fi .compose1_prix, .francaise .plat .container .de_mi_fi .compose1_prix, .francaise .dessert .container .de_mi_fi .compose1_prix {
  display: inline;
  float: right;
  margin-top: 0px;
  margin-right: 5%;
  font-size: 1.1em;
}
.gout .entree .container .de_mi_fi .check, .gout .plat .container .de_mi_fi .check, .gout .dessert .container .de_mi_fi .check, .sens .entree .container .de_mi_fi .check, .sens .plat .container .de_mi_fi .check, .sens .dessert .container .de_mi_fi .check, .enchantee .entree .container .de_mi_fi .check, .enchantee .plat .container .de_mi_fi .check, .enchantee .dessert .container .de_mi_fi .check, .francaise .entree .container .de_mi_fi .check, .francaise .plat .container .de_mi_fi .check, .francaise .dessert .container .de_mi_fi .check {
  display: none;
  margin-top: 1px;
  width: 30px;
  height: 37px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(19, 59, 235, 0.692);
  padding: 15px 5px 5px 15px;
}
.gout .entree .container .de_mi_fi .check .fa-check, .gout .plat .container .de_mi_fi .check .fa-check, .gout .dessert .container .de_mi_fi .check .fa-check, .sens .entree .container .de_mi_fi .check .fa-check, .sens .plat .container .de_mi_fi .check .fa-check, .sens .dessert .container .de_mi_fi .check .fa-check, .enchantee .entree .container .de_mi_fi .check .fa-check, .enchantee .plat .container .de_mi_fi .check .fa-check, .enchantee .dessert .container .de_mi_fi .check .fa-check, .francaise .entree .container .de_mi_fi .check .fa-check, .francaise .plat .container .de_mi_fi .check .fa-check, .francaise .dessert .container .de_mi_fi .check .fa-check {
  color: #fff;
}

.menu .image_menu img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: auto;
}

.contain-page {
  display: block;
  max-width: 1440px;
  height: auto;
  margin: auto;
  padding: 0px 70px 20px 70px;
  box-sizing: border-box;
  background-color: rgba(16, 112, 238, 0.667);
  border: 2px black dashed;
}

.entree .container, .plat .container, .dessert .container {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.submit-button {
  height: auto;
  position: relative;
}
.submit-button .bouton {
  background-color: #c342b9;
  padding: 5px 15px;
  border-radius: 20Px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin: 10px auto;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }

  .contain-page {
    margin: auto;
    max-width: 1024px;
  }

  .title {
    background-color: orange;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
/* En dessous de TABLETTES donc les mobiles */
@media screen and (max-width: 599px) {
  body {
    background-color: #f3f3f6;
    font-family: Arial, century, "sans-serif", Verdana;
  }

  .contain-page {
    display: block;
    max-width: 598px;
    height: auto;
    margin: auto;
    padding: 0px 70px 20px 70px;
    box-sizing: border-box;
    border: 2px black dashed;
    margin: auto;
    background-color: #e1dee2f3;
  }

  .titre, .header, .fonction, .plat, .dessert, .entree, .menu, .footer {
    width: 100%;
    background-color: #f1efea;
  }

  .footer {
    max-width: 599px;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #FFF;
    background-color: rgba(32, 17, 17, 0.71);
  }
  .footer nav .pied {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
  }
  .footer nav .pied li a {
    margin-bottom: 5px;
    font-size: 1.3em;
    color: #fff;
  }
}
/* orientation paysage et portrait sur petits écrans */
@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}
/* orientation portrait sur mobile */
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
