//keyframes du Loading-spinner //
 //animation: 2.5s spin ease-in-out both;//
 @keyframes spin {
    5% {
        opacity: 1;
    }
    25% {
        transform: rotate(2turn);
    }
    
    90% {
        transform: rotate(3turn);
        opacity: 0;
    }
    100% {
        transform: rotate(0turn);
        opacity: 0;
        display: none;
    }
}

//Animation ballon Loader-Spinner gonflé, disparait progressivement//
//animation: 4.5s bounce ease-in-out both;
@keyframes bounce {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    70%{
        transform: scale(2);
        color: $color-primaire;
        text-shadow: $shadow-txt;
    } 
    80%{
        transform: scale(1.5);
        text-shadow: $shadow-txt; 
        color: $color-secondaire;           
    } 
    95%{
        transform: scale(1);
        text-shadow: $shadow-txt; 
        color: $color-tertiaire; 

    }    
    100%{
        transform: scale(0);
        display: none;
    }
}

// keyframes qui fait apparaitre la page d'accueil après le loading-spinner//
//animation: affichagepage 4s 1s both;
@keyframes affichagepage {
    0% {
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50% {
        opacity: 0.8;
    }
    75%{
        opacity: 0.9;
    }    
    100% {
        opacity: 1;
    }
} 


// remplissage du background de heart //
//animation: 600ms remplissage-heart ease-in-out both;
@keyframes remplissage-heart {
    0% {
        transform: scaleY(0);     
    }    
    100% {
        transform: scaleY(1);
    }
}



//  Apparition sousmenu en groupe //
//animation: Apparition 2s both ease-in;/*apparition Entrée, plat, dessert//
@keyframes Apparition {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
// Temps d'attente avant l'arrivée du proupe: Entrée, Plat, Dessert //
.sousmenu:nth-child(1){
    animation-delay: 0.3s;
}
.sousmenu:nth-child(2){
    animation-delay: 0.8s;
}
.sousmenu:nth-child(3){
    animation-delay: 1.3s;
}

//  Apparition sousmenu en groupe //
// animation: check-anim 250ms ease-in both; //Animation de check //
@keyframes check-anim {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


// Animation de l'icone .fa-check de validation de menu //
//animation: 400ms petitecoche ease-in-out both; de fa-check//

@keyframes petitecoche {
    0%{
        transform: rotate(0turn);
    }     
    100% {
        transform: rotate(1turn);
        opacity: 1;
    }
}