//Les VARIABLES UTILISEES DANS NOTRE PAGE// 
$color-primaire: #9356DC; //1ere couleur //
$color-secondaire: #ff79DA;//deuxieme couleur//
$color-tertiaire: #99E2D0;//troisieme couleur//
$fontfamily-body: 'roboto', century, 'sans-serif', Verdana;//police body roboto//
$backg-endroi-restaurant: rgb(230, 230, 230); //couleur fond restaurant//
$backg-search: rgba(225, 225, 225, 1); // backgr-color de search//
$backg-color-info: rgba(230, 230, 230, 0.6); //couleur backg fonctionnement//
$box-shad-info: 2px 5px 5px rgba(220, 220, 220, 1);//ombre li fonctionnement//
$border-info: 0.3em rgba(225, 225, 225, 0.2);// bordure li fonctionnment//
$padding-info: 10px 5px 10px 5px; //padding info de fonctionnement //
$margin-icon-info: 2px 10px 0px 20px; //margin icon tonctionnement//
$backg-info-hover: rgba(147, 86, 220, 0.25); //backg INFO au hover//
$padding-footer: 1em 0em 1em 0em;// padding du footer//
$backg-footer: rgba(53, 53, 53, 255); //Couleur pied de page//
$padding-btn: 0.8em 2em 0.8em 2em; // padding texte du bouton//
$shadow-bouton: 2px 3px 3px $color-tertiaire;// ombre des box boutons//
$shadow-txt: 2px 2px 2px rgb(45, 32, 77); //ombre de textes des boutons//
$couleur-backg-plat: rgba(255, 255, 255, 255); //couleur fond//
$box-shad-plat: 3px 3px 2px rgba(220, 220, 220, 50); //ombre bordure plat//
$backg-search-top: 5px solid rgba(220, 220, 220, 240); //Bordure dessus Paris Marseille//
$color-padding-bot-h2: 8px; // padding soulignement 4lettres de h2//
$color-underline-h2: 3px rgba(28, 156, 96, 0.877) solid; //soulign H2 color//
